Repository erigontech/erigon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AskAlexSharov, @Giulio2002, @domiwei, @sudeepdino008, @bloxster, @yperbasis, @mh0lt, @taratorio, @canepat

save
  cmd/integration/Readme.md
Owners: @AskAlexSharov, @Giulio2002

save
  cmd/integration/Readme.md
Owners: @AskAlexSharov, @Giulio2002

save
  cmd/integration/Readme.md
Owners: @AskAlexSharov, @Giulio2002

mdbx_stat: add Reclaimable space in gb to command (#17656)
  cmd/integration/Readme.md
Owners: @AskAlexSharov, @Giulio2002

refactor: remove redundant variable declarations in for loops
  execution/abi/bind/util_test.go
  execution/abi/unpack_test.go
  execution/consensus/clique/snapshot_test.go
  execution/stages/genesis_test.go
  execution/stages/headerdownload/header_algo_test.go
  execution/stages/mock/accessors_indexes_test.go
  execution/state/rw_v3.go
  execution/tests/state_test.go
  execution/types/accounts/account_benchmark_test.go
  execution/types/receipt_test.go
  txnprovider/txpool/pool_txn_parser_test.go
Owners: @yperbasis, @mh0lt, @taratorio

save
  .golangci.yml
Owners: @AskAlexSharov, @Giulio2002

save
  .golangci.yml
Owners: @AskAlexSharov, @Giulio2002

save
  .golangci.yml
Owners: @AskAlexSharov, @Giulio2002

added trace domain
  common/dbg/experiments.go
  execution/state/intra_block_state.go
Owners: @AskAlexSharov, @Giulio2002, @yperbasis, @mh0lt

fix typo
  execution/state/intra_block_state.go
Owners: @yperbasis, @mh0lt

add key/value put size metrics
  db/state/domain_shared.go
  db/state/temporal_mem_batch.go
  execution/stagedsync/exec3_metrics.go
Owners: @AskAlexSharov, @sudeepdino008, @yperbasis, @mh0lt

Reduce memcpy
  db/state/changeset/state_changeset.go
Owners: @AskAlexSharov, @sudeepdino008

save
  execution/consensus/ethash/ethash.go
  execution/tracing/tracers/native/4byte.go
Owners: @yperbasis, @mh0lt

save
  execution/consensus/ethash/meter.go
  execution/tracing/tracers/native/call.go
  p2p/enode/iter_test.go
  p2p/server.go
  rpc/server.go
Owners: @yperbasis, @mh0lt, @taratorio, @canepat

save
  p2p/message.go
Owners: @taratorio, @yperbasis

save
  p2p/dial.go
  p2p/server.go
Owners: @taratorio, @yperbasis

save
  execution/builder/block_builder.go
  execution/consensus/ethash/algorithm.go
  execution/stagedsync/stage_mining_exec.go
  node/eth/backend.go
Owners: @yperbasis, @mh0lt, @AskAlexSharov, @Giulio2002

save
  execution/state/triedb_state.go
Owners: @yperbasis, @mh0lt

save
  execution/builder/block_builder.go
  execution/consensus/ethash/ethash.go
  execution/stagedsync/stage_mining_exec.go
  execution/stages/mock/mock_sentry.go
  execution/tracing/tracers/native/4byte.go
  execution/tracing/tracers/native/call.go
  execution/tracing/tracers/native/prestate.go
  node/eth/backend.go
  p2p/message.go
  rpc/server.go
Owners: @yperbasis, @mh0lt, @AskAlexSharov, @Giulio2002, @taratorio, @canepat

save
  execution/stages/mock/mock_sentry.go
Owners: @yperbasis, @mh0lt

Reduce memcpy when writting changesets (#17659)
  db/state/changeset/state_changeset.go
Owners: @AskAlexSharov, @sudeepdino008

refactor: remove redundant variable declarations in for loops (#17657)
  execution/abi/bind/util_test.go
  execution/abi/unpack_test.go
  execution/consensus/clique/snapshot_test.go
  execution/stages/genesis_test.go
  execution/stages/headerdownload/header_algo_test.go
  execution/stages/mock/accessors_indexes_test.go
  execution/state/rw_v3.go
  execution/tests/state_test.go
  execution/types/accounts/account_benchmark_test.go
  execution/types/receipt_test.go
  txnprovider/txpool/pool_txn_parser_test.go
Owners: @yperbasis, @mh0lt, @taratorio

use new rpc-test version
  .github/workflows/scripts/run_rpc_tests_ethereum.sh
Owners: @AskAlexSharov, @Giulio2002

reuse
  Makefile
  execution/engineapi/engine_block_downloader/block_downloader.go
  node/eth/backend.go
Owners: @AskAlexSharov, @Giulio2002, @yperbasis, @mh0lt

CI: eth_getProof: enabled previous exclude tests for root mismatch (#17643)
  .github/workflows/scripts/run_rpc_tests_ethereum_latest.sh
Owners: @AskAlexSharov, @Giulio2002

rpcdaemon: eth_createAccessList add support StateOverrides (#17653)
  .github/workflows/scripts/run_rpc_tests_ethereum.sh
  rpc/jsonrpc/eth_api.go
  rpc/jsonrpc/eth_call.go
Owners: @AskAlexSharov, @Giulio2002, @canepat, @yperbasis

Add arbitrum execution tests (#17647)
  .gitmodules
  core/state_transition.go
  tests/block_test.go
  tests/block_test_util.go
Owners: @AskAlexSharov, @Giulio2002

fix metrics & blockNumber discrepancies
  db/state/temporal_mem_batch.go
  execution/eth1/ethereum_execution.go
  execution/stagedsync/exec3.go
  execution/stagedsync/exec3_metrics.go
  execution/stagedsync/exec3_parallel.go
  execution/stagedsync/exec3_serial.go
  execution/stagedsync/stage.go
  execution/stagedsync/stage_snapshots.go
  execution/stagedsync/sync.go
  execution/stages/stageloop.go
Owners: @AskAlexSharov, @sudeepdino008, @yperbasis, @mh0lt

update/fix metrics calcs
  cl/phase1/stages/stage_history_download.go
  execution/stagedsync/exec3_metrics.go
  execution/stages/stageloop.go
Owners: @domiwei, @Giulio2002, @yperbasis, @mh0lt

log at leaste once
  execution/stagedsync/exec3_parallel.go
Owners: @yperbasis, @mh0lt

add more clear error in case bn not found
  rpc/jsonrpc/tracing.go
Owners: @canepat, @yperbasis

rpcdaemon: debug_traceBlockByNumber(): add more clear error in case bn not found (#17663)
  rpc/jsonrpc/tracing.go
Owners: @canepat, @yperbasis

get rid of unused params
  execution/engineapi/engine_block_downloader/block_downloader.go
  node/eth/backend.go
Owners: @yperbasis, @mh0lt, @AskAlexSharov, @Giulio2002

revert unrelated cache change
  execution/engineapi/engine_block_downloader/block_downloader.go
Owners: @yperbasis, @mh0lt

lower bad headers lru to 6.4 mb
  execution/engineapi/engine_block_downloader/block_downloader.go
Owners: @yperbasis, @mh0lt

lower bad headers lru to 640kb
  execution/engineapi/engine_block_downloader/block_downloader.go
Owners: @yperbasis, @mh0lt

lower bad headers lru to 64kb
  execution/engineapi/engine_block_downloader/block_downloader.go
Owners: @yperbasis, @mh0lt

lower bad headers lru to 640kb
  execution/engineapi/engine_block_downloader/block_downloader.go
Owners: @yperbasis, @mh0lt

use break not return
  execution/stagedsync/exec3.go
Owners: @yperbasis, @mh0lt

Create BackwardBlockDownloader in backend.go (#17662)
  Makefile
  execution/engineapi/engine_block_downloader/block_downloader.go
  node/eth/backend.go
Owners: @AskAlexSharov, @Giulio2002, @yperbasis, @mh0lt

.github/CODEOWNERS:

*            @AskAlexSharov @Giulio2002
cl/          @domiwei @Giulio2002
db/          @AskAlexSharov @sudeepdino008
docs/        @bloxster @AskAlexSharov @yperbasis
execution/   @yperbasis @mh0lt
p2p/         @taratorio @yperbasis
rpc/         @canepat @yperbasis
txnprovider/ @taratorio @yperbasis
