Repository erigontech/erigon, pull requests merged in 2022-09, with the labels that each got.

#5249 Added verkle tree key hash generating functions.
  turbo/trie/verkle_utils.go
  turbo/trie/verkle_utils_test.go
Labels: verkle-tree

#5267 Separation of Pedersen code, account and storage hashing
  cmd/verkle/buckets.go
  cmd/verkle/main.go
  cmd/verkle/pedersen_hashstate.go
  cmd/verkle/workers.go
  turbo/trie/verkle_utils.go
  turbo/trie/verkle_utils_test.go
  turbo/trie/vtree/verkle_account.go
  turbo/trie/vtree/verkle_account_test.go
  turbo/trie/vtree/verkle_utils.go
Labels: verkle-tree

#5310 Added complete verkle trie regeneration
  cmd/verkle/buckets.go
  cmd/verkle/incrementalVerkle.go
  cmd/verkle/main.go
  cmd/verkle/pedersen_hashstate.go
  cmd/verkle/verkleGeneration.go
  cmd/verkle/workers.go
  eth/stagedsync/stages/stages.go
  turbo/trie/vtree/verkle_account.go
  turbo/trie/vtree/verkle_account_test.go
Labels: verkle-tree

#5357 Refactored verkle tree state writer
  cmd/verkle/accessories.go
  cmd/verkle/buckets.go
  cmd/verkle/incrementAccount.go
  cmd/verkle/incrementStorage.go
  cmd/verkle/incrementalVerkle.go
  cmd/verkle/pedersen_hashstate.go
  cmd/verkle/verkle_marker.go
  cmd/verkle/verkle_tree_writer.go
  cmd/verkle/workers.go
Labels: verkle-tree

#5375 Log more info on missing parent
  eth/stagedsync/stage_headers.go
Labels: proof-of-stake

#5374 Bump map size of in-memory MDBX
  go.mod
  go.sum
Labels: proof-of-stake

#5378 Potential improvement to CL timeouts
  eth/stagedsync/stage_headers.go
  ethdb/privateapi/ethbackend.go
Labels: proof-of-stake

#5399 Correct Verkle trie generation
  cmd/verkle/accessories.go
  cmd/verkle/buckets.go
  cmd/verkle/incrementAccount.go
  cmd/verkle/incrementStorage.go
  cmd/verkle/incrementalVerkle.go
  cmd/verkle/pedersen_hashstate.go
  cmd/verkle/verkleGeneration.go
  cmd/verkle/verkle_marker.go
  cmd/verkle/verkle_tree_writer.go
  cmd/verkle/workers.go
Labels: verkle-tree

#5459 Adapted verkle tree generation in preperation of Beverly Hills
  cmd/verkle/buckets.go
  cmd/verkle/incrementAccount.go
  cmd/verkle/incrementStorage.go
  cmd/verkle/incrementalVerkle.go
  cmd/verkle/pedersen_hashstate.go
  cmd/verkle/verkle_tree_writer.go
  cmd/verkle/workers.go
Labels: verkle-tree

#5479 Fix AuRa genesis block reading
  eth/backend.go
Labels: gnosis-chain

#5483 Added Verkle tree based stagedsync as a prototype (Activates if CancunBlock == 0)
  cmd/verkle/main.go
  cmd/verkle/verkletrie/incrementStorage.go
  eth/stagedsync/default_stages.go
  eth/stagedsync/stage_verkle_trie.go
Labels: verkle-tree

#5486 Added dumping Verkle trie to text file
  cmd/verkle/main.go
  cmd/verkle/verkletrie/verkle_tree_writer.go
Labels: verkle-tree

#5487 Fix Gnosis Chain fork ID
  consensus/misc/eip1559_test.go
  core/forkid/forkid_test.go
  params/chainspecs/gnosis.json
  params/config.go
Labels: gnosis-chain

#5488 [erigon-lib] changed baseFeeCap from uint64 -> uint256
  go.mod
  go.sum
Labels: gnosis-chain

#5493 Added first file to bootstrap erigon Lightclient project
  Makefile
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/service.go
  go.mod
  go.sum
Labels: lightclient

#5497 Added discovery and connection to consensus layer bootnodes
  cmd/lightclient/clparams/bootnodes.go
  cmd/lightclient/clparams/discover.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/service.go
  go.mod
  go.sum
Labels: lightclient

#5500 Added p2p connection and libp2p host to Erigon Lightclient
  cmd/lightclient/clparams/params.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/discovery.go
  cmd/lightclient/sentinel/gater.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/sentinel.go
  go.mod
  go.sum
Labels: lightclient

#5501 added networkConfig.go
  cmd/lightclient/clparams/config.go
  cmd/lightclient/clparams/discover.go
Labels: lightclient

#5502 Lightclient actually gets peers now.
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/discovery.go
  cmd/lightclient/sentinel/gater.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5507 LightClient P2P refactoring
  cmd/lightclient/clparams/config.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/discovery.go
  cmd/lightclient/sentinel/gater.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/utils.go
Labels: lightclient

#5530 added handler for ping p2p method
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/discovery.go
  cmd/lightclient/sentinel/handlers.go
  cmd/lightclient/sentinel/sentinel.go
  go.mod
  go.sum
Labels: lightclient

#5549 Gossip lightclient
  cmd/lightclient/clparams/config.go
  cmd/lightclient/sentinel/handlers.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/sentinel.go
  go.mod
  go.sum
Labels: lightclient

#5548 Updated go-verkle library
  cmd/verkle/verkletrie/verkle_tree_writer.go
  core/rawdb/accessors_chain.go
  go.mod
  go.sum
Labels: verkle-tree

#5567 Gossip subscription
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5558 [cl lightclient] - packet decoding & ssz code generation
  cmd/lightclient/lightclient/state.go
  cmd/lightclient/sentinel/handlers.go
  cmd/lightclient/sentinel/proto/p2p/generate.go
  cmd/lightclient/sentinel/proto/p2p/generated.go
  cmd/lightclient/sentinel/proto/p2p/generated_encoding.go
  cmd/lightclient/sentinel/proto/p2p/p2pgen/main.go
  cmd/lightclient/sentinel/proto/p2p/spec_p2p.yaml
  cmd/lightclient/sentinel/proto/packet.go
  cmd/lightclient/sentinel/proto/ssz_snappy/stream.go
  cmd/lightclient/sentinel/proto/ssz_snappy/sub.go
  cmd/lightclient/sentinel/proto/util.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/utils.go
  go.mod
  go.sum
Labels: lightclient

#5575 Support for Goerli/Sepolia/Mainnet Fork ids on Consensus Layer
  cmd/lightclient/clparams/config.go
  cmd/lightclient/clparams/params.go
  cmd/lightclient/fork/fork.go
  cmd/lightclient/fork/fork_test.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/discovery.go
  cmd/lightclient/sentinel/fork.go
  cmd/lightclient/sentinel/handlers.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/utils.go
  cmd/lightclient/utils/bytes.go
  cmd/lightclient/utils/time.go
Labels: lightclient

#5581 separation of handlers in Consensus Layer P2P layer
  cmd/lightclient/sentinel/handlers.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/handlers/streamHandler.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/utils/bytes.go
Labels: lightclient

#5582 Better memory management when peering
  cmd/lightclient/sentinel/peers/peers.go
Labels: lightclient

#5573 [lightclient] basic gossip handler
  cmd/lightclient/sentinel/proto/ssz_snappy/stream.go
  cmd/lightclient/sentinel/proto/ssz_snappy/sub.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5584 Added proper Message Id for Consensus Gossip subscription
  cmd/lightclient/clparams/config.go
  cmd/lightclient/clparams/discover.go
  cmd/lightclient/clparams/params.go
  cmd/lightclient/fork/fork.go
  cmd/lightclient/fork/id.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/utils/bytes.go
  cmd/lightclient/utils/crypto.go
Labels: lightclient

#5583 closing streams
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/streamHandler.go
Labels: lightclient
