Repository erigontech/erigon, pull requests merged in 2022-11, with the labels that each got.

#5929 AuRa system calls to Certifier should be const
  cmd/state/exec3/state.go
  cmd/state/exec3/state_recon.go
  core/blockchain.go
  core/state_processor.go
  core/vm/evm.go
  core/vm/interpreter.go
Labels: gnosis-chain

#5941 Remove printf
  cmd/erigon-cl/cl-core/cl-db/accessories.go
Labels: erigon-cl

#5950 switch BLS library
  cl/utils/crypto.go
  cmd/lightclient/lightclient/verify.go
  go.mod
  go.sum
Labels: erigon-cl

#5989 Only zero-gas transactions may be service ones
  core/state_processor.go
Labels: gnosis-chain

#5997 Rewrite bytecode of the token contract on Gnosis Chain
  cmd/state/exec3/state.go
  cmd/state/exec3/state_recon.go
  consensus/aura/aura.go
  consensus/aura/config.go
  consensus/aura/consensusconfig/poagnosis.json
  consensus/bor/bor.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/ethash/consensus.go
  consensus/parlia/parlia.go
  consensus/serenity/serenity.go
  core/blockchain.go
Labels: gnosis-chain

#6028 Block difficulty can be really big on Gnosis Chain
  core/types/block.go
Labels: gnosis-chain

#6056 Added persistence in LightClient
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  cmd/sentinel/main.go
  cmd/sentinel/sentinel/sentinel.go
  cmd/sentinel/sentinel/service/start.go
  core/rawdb/accessors_chain.go
  eth/backend.go
  go.mod
  go.sum
Labels: lightclient

#6058 feat: add chiado config
  cmd/hack/hack.go
  cmd/utils/flags.go
  consensus/aura/consensusconfig/embed.go
  consensus/aura/consensusconfig/poachiado.json
  core/allocs/chiado.json
  core/genesis.go
  core/genesis_test.go
  eth/ethconfig/config.go
  params/bootnodes.go
  params/chainspecs/chiado.json
  params/config.go
  params/networkname/network_name.go
  turbo/stages/genesis_test.go
Labels: gnosis-chain

#6085 added basic lightclient stream handlers
  cmd/erigon-cl/cl-core/cl-db/accessories.go
  cmd/sentinel/sentinel/handlers/handlers.go
  cmd/sentinel/sentinel/handlers/heartbeats_test.go
  cmd/sentinel/sentinel/handlers/lightclient.go
  cmd/sentinel/sentinel/sentinel.go
Labels: lightclient

#6092 Refactored Lightclient prefix system
  cmd/sentinel/sentinel/communication/ssz_snappy/encoding.go
  cmd/sentinel/sentinel/communication/ssz_snappy/stream_test.go
  cmd/sentinel/sentinel/handlers/curry.go
  cmd/sentinel/sentinel/handlers/handlers.go
  cmd/sentinel/sentinel/handlers/heartbeats.go
  cmd/sentinel/sentinel/handlers/heartbeats_test.go
  cmd/sentinel/sentinel/handlers/lightclient.go
Labels: lightclient

#6103 Support genesis constructors for Chiado
  cmd/evm/runner.go
  cmd/pics/state.go
  core/allocs/chiado.json
  core/blockchain.go
  core/gen_genesis_account.go
  core/genesis.go
  core/genesis_test.go
  core/types/starknet_tx_test.go
  core/vm/evm.go
  core/vm/gas_table_test.go
  params/config.go
  params/config_test.go
  turbo/stages/genesis_test.go
  turbo/stages/headerdownload/header_algo_test.go
  turbo/stages/mock_sentry.go
Labels: gnosis-chain

#6105 added beacon state-transition first structure
  cmd/erigon-cl/cl-core/transition/process_slots.go
  cmd/erigon-cl/cl-core/transition/state_transistor.go
Labels: erigon-cl

#6110 test: add fork id tests for Gnosis and Chiado
  core/forkid/forkid_test.go
Labels: gnosis-chain

#6130 Created Erigon beacon downloader
  cl/rpc/common.go
  cmd/erigon-cl/cl-core/syncfromcheckpoint.go
  cmd/erigon-cl/core/checkpoint.go
  cmd/erigon-cl/core/rawdb/accessories.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/state_transistor.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/network/beacon_downloader.go
  cmd/erigon-cl/network/gossip_manager.go
  cmd/erigon-cl/stages/stage_beacon_download.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  cmd/sentinel/sentinel/handlers/lightclient.go
  eth/backend.go
Labels: erigon-cl

#6126 updated go-verkle
  cmd/verkle/verkletrie/verkle_tree_writer.go
  core/rawdb/accessors_chain.go
  go.mod
  go.sum
  turbo/trie/vtree/verkle_utils.go
Labels: verkle-tree

#6135 Added skeleton for beacon chain state transition
  cmd/erigon-cl/core/rawdb/accessories.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/core/rawdb/accessors_test.go
  cmd/erigon-cl/core/rawdb/test_utils.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stages_beacon_state.go
  eth/stagedsync/stages/stages.go
  go.mod
  go.sum
Labels: erigon-cl

#6139 Added account preimages generation
  cmd/verkle/main.go
Labels: verkle-tree

#6149 removed debug util now not necessary
  cl/decode/main.go
Labels: erigon-cl

#6153 added MPT storage dumps
  cmd/verkle/main.go
Labels: verkle-tree
