Repository erigontech/erigon, pull requests merged in 2022-10, with the labels that each got.

#5585 Modularized Gossip on Consensus Layer P2P
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5600 Fix callBlockRewardAbi
  consensus/aura/aura.go
  core/blockchain.go
Labels: gnosis-chain

#5580 Adding light client requesting
  cmd/lightclient/clparams/config.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/topics.go
  cmd/lightclient/sentinel/proto/p2p/generated.go
  cmd/lightclient/sentinel/proto/p2p/generated_encoding.go
  cmd/lightclient/sentinel/proto/packet.go
  cmd/lightclient/sentinel/proto/ssz_snappy/stream.go
  cmd/lightclient/sentinel/proto/ssz_snappy/utils.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/utils.go
Labels: lightclient

#5605 better retry
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/request.go
Labels: lightclient

#5617 SysCallContract shouldn't increase nonce of SystemAddress
  consensus/aura/aura_test.go
  consensus/aura/validators.go
  core/allocs/erigonmine.json
  core/allocs/kiln-devnet.json
  core/allocs/kovan.json
  core/allocs/yolov3.json
  core/blockchain.go
  params/config.go
  turbo/stages/genesis_test.go
Labels: gnosis-chain

#5591 [light client] gossip propogation
  cmd/lightclient/fork/id.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/gossip.go
  cmd/lightclient/sentinel/proto/packet.go
  cmd/lightclient/sentinel/proto/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/proto/ssz_snappy/sub.go
  cmd/lightclient/sentinel/proto/ssz_snappy/utils.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5590 [Experimental] GRPC Prototype with --experimental.lightclient to have Erigon listen on ConsenSUS gossip.
  cmd/lightclient/clparams/config.go
  cmd/lightclient/lightclient/server.go
  cmd/lightclient/lightclient/state.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/Makefile
  cmd/lightclient/rpc/lightrpc/beacon_block.pb.go
  cmd/lightclient/rpc/lightrpc/beacon_block.pb_encoding.go
  cmd/lightclient/rpc/lightrpc/clone.go
  cmd/lightclient/rpc/lightrpc/lightclient.pb.go
  cmd/lightclient/rpc/lightrpc/lightclient_grpc.pb.go
  cmd/lightclient/rpc/lightrpc/metadata.pb.go
  cmd/lightclient/rpc/lightrpc/metadata.pb_encoding.go
  cmd/lightclient/rpc/proto/beacon_block.proto
  cmd/lightclient/rpc/proto/lightclient.proto
  cmd/lightclient/rpc/proto/metadata.proto
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/sentinel/proto/p2p/generated.go
  cmd/lightclient/sentinel/proto/p2p/generated_encoding.go
  cmd/lightclient/sentinel/proto/p2p/spec_p2p.yaml
  cmd/lightclient/sentinel/proto/ssz_snappy/stream.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/utils/bytes.go
  cmd/utils/flags.go
  eth/backend.go
  eth/ethconfig/config.go
  turbo/cli/default_flags.go
Labels: lightclient

#5643 Removing useless and rendundant code from cmd/lightclient
  cmd/lightclient/fork/fork.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/lightrpc/clone.go
  cmd/lightclient/sentinel/communication/p2p/generate.go
  cmd/lightclient/sentinel/communication/p2p/generated.go
  cmd/lightclient/sentinel/communication/p2p/generated_encoding.go
  cmd/lightclient/sentinel/communication/p2p/p2pgen/main.go
  cmd/lightclient/sentinel/communication/p2p/spec_p2p.yaml
  cmd/lightclient/sentinel/communication/packet.go
  cmd/lightclient/sentinel/communication/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/gossip.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/handlers/streamHandler.go
  cmd/lightclient/sentinel/proto/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/proto/ssz_snappy/utils.go
  cmd/lightclient/sentinel/proto/util.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/utils/bytes.go
Labels: lightclient

#5634 Metadata resp
  cmd/lightclient/rpc/lightrpc/beacon_block.pb.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5658 Fixed Encoding of requests + Added unit tests
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/communication/packet.go
  cmd/lightclient/sentinel/communication/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream_test.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/gater.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/peers/peers.go
  cmd/lightclient/utils/bytes.go
Labels: lightclient

#5665 Fixed Ping Req/Resp
  cmd/lightclient/fork/fork_test.go
  cmd/lightclient/fork/id.go
  cmd/lightclient/sentinel/communication/p2p/generated.go
  cmd/lightclient/sentinel/communication/p2p/generated_encoding.go
  cmd/lightclient/sentinel/communication/p2p/p2pgen/main.go
  cmd/lightclient/sentinel/communication/p2p/spec_p2p.yaml
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5668 Removed code duplications for ping handlers
  cmd/lightclient/clparams/config.go
  cmd/lightclient/sentinel/communication/p2p/generated.go
  cmd/lightclient/sentinel/communication/p2p/generated_encoding.go
  cmd/lightclient/sentinel/communication/p2p/spec_p2p.yaml
  cmd/lightclient/sentinel/communication/ssz_snappy/stream_test.go
  cmd/lightclient/sentinel/handlers/curry.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/handlers/heartbeats_test.go
  cmd/lightclient/sentinel/handlers/topics.go
  cmd/lightclient/sentinel/request.go
Labels: lightclient

#5672 Licensing new files in cmd/lightclient
  cmd/lightclient/clparams/config_test.go
  cmd/lightclient/fork/fork.go
  cmd/lightclient/fork/fork_test.go
  cmd/lightclient/fork/id.go
  cmd/lightclient/lightclient/server.go
  cmd/lightclient/lightclient/state.go
  cmd/lightclient/sentinel/communication/packet.go
  cmd/lightclient/sentinel/communication/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream_test.go
  cmd/lightclient/sentinel/gossip.go
  cmd/lightclient/sentinel/handlers/curry.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/handlers/heartbeats_test.go
  cmd/lightclient/sentinel/handlers/topics.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/utils/bytes.go
  cmd/lightclient/utils/crypto.go
  cmd/lightclient/utils/time.go
Labels: lightclient

#5673 Infra refactoring
  cmd/lightclient/clparams/config.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/Makefile
  cmd/lightclient/rpc/lightrpc/beacon_block.pb.go
  cmd/lightclient/rpc/lightrpc/beacon_block.pb_encoding.go
  cmd/lightclient/rpc/lightrpc/lightclient.pb.go
  cmd/lightclient/rpc/lightrpc/lightclient_grpc.pb.go
  cmd/lightclient/rpc/lightrpc/sentinel.pb.go
  cmd/lightclient/rpc/lightrpc/sentinel_grpc.pb.go
  cmd/lightclient/rpc/proto/beacon_block.proto
  cmd/lightclient/rpc/proto/lightclient.proto
  cmd/lightclient/rpc/proto/sentinel.proto
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/service/notifiers.go
  cmd/lightclient/sentinel/service/service.go
  cmd/lightclient/sentinel/service/start.go
  eth/backend.go
Labels: lightclient

#5677 refactored streaming with protobuffers
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/rpc/lightrpc/sentinel.pb.go
  cmd/lightclient/rpc/lightrpc/sentinel_grpc.pb.go
  cmd/lightclient/rpc/proto/sentinel.proto
  cmd/lightclient/sentinel/service/notifiers.go
  cmd/lightclient/sentinel/service/service.go
  cmd/lightclient/sentinel/service/start.go
Labels: lightclient

#5679 fixed no handlers responses (MetadataV1/MetadataV2)
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/handlers/handlers.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/handlers/heartbeats_test.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/sentinel.go
Labels: lightclient

#5685 No MaxCodeSize limit for AuRa
  core/vm/evm.go
Labels: gnosis-chain

#5700 Fix slice bounds out of range in AccumulateRewards
  consensus/aura/aura.go
Labels: gnosis-chain

#5706 fixed lightclient finality/optimistic updates
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/common.go
  cmd/lightclient/rpc/lightrpc/sentinel.pb.go
  cmd/lightclient/rpc/lightrpc/sentinel_grpc.pb.go
  cmd/lightclient/rpc/proto/sentinel.proto
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/service/service.go
Labels: lightclient

#5707 downgraded go-verkle to safe
  cmd/verkle/verkletrie/verkle_tree_writer.go
  core/rawdb/accessors_chain.go
  go.mod
  go.sum
Labels: verkle-tree

#5717 Use NewValidatorSafeContract in ValidatorContract
  consensus/aura/config.go
  consensus/aura/validators.go
Labels: gnosis-chain

#5718 Added Bootstrap/Update handlers request
  cmd/lightclient/clparams/config.go
  cmd/lightclient/cltypes/clone.go
  cmd/lightclient/cltypes/network.go
  cmd/lightclient/cltypes/network_encoding.go
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/cltypes/types_encoding.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/common.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/handlers/topics.go
  cmd/lightclient/sentinel/request.go
Labels: lightclient

#5721 separated sentinel_node executable
  Makefile
  cmd/lightclient/cltypes/network.go
  cmd/lightclient/cltypes/network_encoding.go
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/cltypes/types_encoding.go
  cmd/lightclient/main.go
  cmd/sentinel_node/main.go
Labels: lightclient

#5737 Support jsonParams.BlockRewardContractTransitions
  consensus/aura/config.go
  consensus/aura/config_test.go
Labels: gnosis-chain

#5738 Lightclient Checkpoint Sync
  cmd/lightclient/lightclient/checkpoint.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/state.go
  cmd/lightclient/lightclient/store.go
  cmd/lightclient/lightclient/utils.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/sentinel/request.go
  cmd/lightclient/sentinel/utils.go
Labels: lightclient

#5745 core: implement EIP-3651, warm coinbase
  core/state_transition.go
Labels: shanghai

#5746 Added Lightclient update base validation without BLS
  cmd/lightclient/cltypes/network.go
  cmd/lightclient/cltypes/network_encoding.go
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/cltypes/types_encoding.go
  cmd/lightclient/fork/fork.go
  cmd/lightclient/lightclient/execution.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/process_updates.go
  cmd/lightclient/lightclient/request.go
  cmd/lightclient/lightclient/store.go
  cmd/lightclient/lightclient/utils.go
  cmd/lightclient/lightclient/verify.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/common.go
  eth/backend.go
Labels: lightclient

#5751 Full BLS Validatition for lightclient update
  cmd/lightclient/lightclient/verify.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/communication/ssz_snappy/stream.go
  cmd/lightclient/utils/crypto.go
  go.mod
  go.sum
Labels: lightclient

#5752 implemented clauses 4 (i) and (ii)
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/lightclient/checkpoint.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/process_updates.go
  cmd/lightclient/lightclient/request.go
  cmd/lightclient/lightclient/verify.go
  cmd/lightclient/utils/time.go
Labels: lightclient

#5760 Importing of ETH2 blocks from Lightclient
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/cltypes/types_encoding.go
  cmd/lightclient/lightclient/execution.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/subscriber.go
  cmd/lightclient/main.go
  eth/backend.go
Labels: lightclient

#5761 Switched to validating lightclient
  cmd/lightclient/clparams/config.go
  cmd/lightclient/lightclient/subscriber.go
  eth/backend.go
Labels: lightclient

#5764 fixed portion of CL verification for NextSyncCommittee
  cmd/lightclient/cltypes/network.go
  cmd/lightclient/cltypes/types.go
  cmd/lightclient/lightclient/verify.go
Labels: lightclient

#5765 Segmented dump files
  cmd/verkle/main.go
Labels: verkle-tree

#5759 Adding flags
  cmd/lightclient/clparams/config.go
  cmd/lightclient/main.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/service/start.go
  cmd/sentinel_node/cli/cliSettings.go
  cmd/sentinel_node/cli/flags/defaultFlags.go
  cmd/sentinel_node/cli/flags/flags.go
  cmd/sentinel_node/main.go
Labels: lightclient

#5770 fixed messaage id (more efficient gossip, reduction in bandwidth).
  cmd/lightclient/clparams/config.go
  cmd/lightclient/fork/fork.go
  cmd/lightclient/fork/id.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  cmd/lightclient/rpc/common.go
  cmd/lightclient/sentinel/config.go
  cmd/lightclient/sentinel/handlers/heartbeats.go
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/utils/bytes.go
  cmd/lightclient/utils/bytes_test.go
  cmd/lightclient/utils/time_test.go
  cmd/sentinel_node/cli/cliSettings.go
  cmd/sentinel_node/main.go
Labels: lightclient

#5783 FinalizeTx after engine.Initialize
  core/blockchain.go
Labels: gnosis-chain

#5785 Added verbosity flag to lightclient
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  eth/backend.go
Labels: lightclient

#5772 Tests for lightclient/sentinel
  cmd/lightclient/sentinel/communication/ssz_snappy/gossip.go
  cmd/lightclient/sentinel/config_test.go
  cmd/lightclient/sentinel/pubsub.go
  cmd/lightclient/sentinel/pubsub_test.go
  cmd/lightclient/sentinel/utils_test.go
Labels: lightclient

#5811 Strenghtened safety system for LC
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/main.go
  eth/backend.go
Labels: lightclient

#5820 Support BaseFee in AuRa headers
  cmd/evm/internal/t8ntool/transition.go
  consensus/aura/aura.go
  consensus/aura/aura_test.go
  consensus/bor/bor.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/ethash/consensus.go
  consensus/parlia/parlia.go
  consensus/serenity/serenity.go
  core/chain_makers.go
  core/evm.go
  core/genesis.go
  core/types/access_list_tx.go
  core/types/accounts/account.go
  core/types/block.go
  core/types/block_test.go
  core/types/dynamic_fee_tx.go
  core/types/gen_header_json.go
  core/types/legacy_tx.go
  core/types/starknet_tx.go
  eth/backend.go
  eth/protocols/eth/protocol.go
  eth/stagedsync/stage_bodies.go
  eth/stagedsync/stage_headers.go
  eth/stagedsync/stage_issuance_test.go
  ethdb/privateapi/ethbackend.go
  rlp/encode.go
  turbo/stages/genesis_test.go
  turbo/transactions/call.go
Labels: gnosis-chain

#5798 Unify Bor burntContract with Gnosis eip1559FeeCollector
  core/state_transition.go
  params/chainspecs/bor-devnet.json
  params/chainspecs/bor-mainnet.json
  params/chainspecs/gnosis.json
  params/chainspecs/mumbai.json
  params/config.go
Labels: gnosis-chain

#5828 lowered the amount of max peers
  cmd/lightclient/sentinel/peers/peers.go
Labels: lightclient

#5840 got rid of time.Sleep
  cmd/lightclient/sentinel/sentinel.go
  cmd/lightclient/sentinel/service/start.go
Labels: lightclient

#5873 AuRa service transactions are free
  accounts/abi/bind/backends/simulated.go
  cmd/rpcdaemon/commands/trace_adhoc.go
  consensus/aura/aura.go
  consensus/aura/config.go
  consensus/aura/consensusconfig/poagnosis.json
  consensus/aura/contracts/certifier.json
  consensus/aura/contracts/embed.go
  consensus/bor/bor.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/ethash/consensus.go
  consensus/parlia/parlia.go
  consensus/serenity/serenity.go
  core/blockchain.go
  core/state_processor.go
  core/state_transition.go
  core/types/transaction.go
  eth/stagedsync/stage_mining_create_block.go
  tests/state_test_util.go
  tests/transaction_test_util.go
  turbo/adapter/ethapi/api.go
Labels: gnosis-chain

#5880 Dispersed fixes for incremental verkle trees
  cmd/verkle/verkletrie/incrementStorage.go
  core/rawdb/accessors_chain.go
Labels: verkle-tree

#5892 EIP-3860: Limit and meter initcode
  core/error.go
  core/state_transition.go
  core/vm/common.go
  core/vm/eips.go
  core/vm/errors.go
  core/vm/evm.go
  core/vm/gas_table.go
  core/vm/gas_table_test.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  eth/tracers/tracer.go
  params/protocol_params.go
  tests/transaction_test_util.go
Labels: shanghai
