Repository erigontech/erigon, pull requests merged in 2022-12, with the labels that each got.

#6009 Withdrawals part 1
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/rpcdaemon/README.md
  cmd/rpcdaemon/commands/engine_api.go
  cmd/rpcdaemon/commands/engine_api_test.go
  cmd/rpcdaemon/rpcservices/eth_backend.go
  cmd/state/commands/erigon2.go
  cmd/state/commands/erigon4.go
  cmd/state/commands/opcode_tracer.go
  cmd/state/exec3/state.go
  cmd/state/exec3/state_recon.go
  consensus/aura/aura.go
  consensus/bor/bor.go
  consensus/clique/clique.go
  consensus/clique/verifier.go
  consensus/consensus.go
  consensus/errors.go
  consensus/ethash/consensus.go
  consensus/parlia/parlia.go
  consensus/serenity/serenity.go
  core/block_builder_parameters.go
  core/blockchain.go
  core/chain_makers.go
  core/genesis.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_indexes_test.go
  core/types/block.go
  core/types/block_test.go
  core/types/gen_header_json.go
  core/types/gen_withdrawal_json.go
  core/types/withdrawal.go
  eth/protocols/eth/protocol.go
  eth/stagedsync/stage_mining_create_block.go
  eth/stagedsync/stage_mining_exec.go
  eth/stagedsync/stage_mining_finish.go
  ethdb/privateapi/ethbackend.go
  go.mod
  go.sum
  tests/statedb_insert_chain_transaction_test.go
  turbo/builder/block_builder.go
  turbo/rpchelper/interface.go
  turbo/snapshotsync/block_reader.go
  turbo/stages/sentry_mock_test.go
Labels: shanghai

#6169 attempt at fixing lightclient performance leaks
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/subscriber.go
  cmd/sentinel/sentinel/handlers/blocks.go
Labels: lightclient

#6183 Added Consensus Layer staged sync
  cl/clparams/config.go
  cl/rpc/rpc.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/network/beacon_downloader.go
  cmd/erigon-cl/network/gossip_manager.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stages.go
  cmd/erigon-cl/stages/stages_beacon_state.go
  cmd/sentinel/sentinel/service/start.go
  core/rawdb/rawdbreset/reset_stages.go
Labels: erigon-cl

#6206 Added Handshake protocol to Erigon-CL Lightclient and Fullclient
  cl/rpc/rpc.go
  cl/utils/bytes.go
  cmd/erigon-cl/core/checkpoint.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/network/gossip_manager.go
  cmd/lightclient/lightclient/checkpoint.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/request.go
  cmd/lightclient/lightclient/subscriber.go
  cmd/lightclient/main.go
  cmd/sentinel/main.go
  cmd/sentinel/sentinel/communication/send_request.go
  cmd/sentinel/sentinel/communication/topics.go
  cmd/sentinel/sentinel/discovery.go
  cmd/sentinel/sentinel/handlers/handlers.go
  cmd/sentinel/sentinel/handshake/handshake.go
  cmd/sentinel/sentinel/handshake/rules.go
  cmd/sentinel/sentinel/peers/peers.go
  cmd/sentinel/sentinel/request.go
  cmd/sentinel/sentinel/sentinel.go
  cmd/sentinel/sentinel/service/service.go
  cmd/sentinel/sentinel/service/start.go
  cmd/sentinel/sentinel/utils.go
  eth/backend.go
  go.mod
  go.sum
Labels: erigon-cl

#6238 Shanghai & Cancun forks should be based on timestamp
  cl/clparams/config.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/evm/runner.go
  cmd/rpcdaemon/commands/eth_block.go
  cmd/rpcdaemon/commands/eth_call.go
  cmd/rpcdaemon/commands/eth_callMany.go
  cmd/rpcdaemon/commands/eth_receipts.go
  cmd/rpcdaemon/commands/otterscan_generic_tracer.go
  cmd/rpcdaemon/commands/otterscan_search_trace.go
  cmd/rpcdaemon/commands/trace_adhoc.go
  cmd/rpcdaemon/commands/trace_filtering.go
  cmd/rpcdaemon/commands/tracing.go
  cmd/state/commands/erigon2.go
  cmd/state/commands/erigon4.go
  cmd/state/commands/history22.go
  cmd/state/commands/opcode_tracer.go
  cmd/state/commands/replay_tx.go
  consensus/misc/eip1559_test.go
  consensus/parlia/parlia.go
  consensus/serenity/serenity.go
  core/blockchain.go
  core/chain_makers.go
  core/vm/evm.go
  core/vm/gas_table_test.go
  core/vm/runtime/runtime.go
  eth/stagedsync/exec3.go
  params/config.go
  tests/state_test_util.go
  tests/transaction_test_util.go
  turbo/transactions/tracing.go
Labels: shanghai

#6268 Added Fully-Working State Trie Computation to Beacon State
  cmd/erigon-cl/core/state/encoding.go
  cmd/erigon-cl/core/state/params.go
  cmd/erigon-cl/core/state/root.go
  cmd/erigon-cl/core/state/state_encoding/chunk.go
  cmd/erigon-cl/core/state/state_encoding/encoding.go
  cmd/erigon-cl/core/state/state_encoding/encoding_test.go
  cmd/erigon-cl/core/state/state_encoding/participations.go
  cmd/erigon-cl/core/state/state_encoding/zero.go
Labels: erigon-cl

#6277 Use of proper beacon state interface
  cmd/erigon-cl/core/checkpoint.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/core/state/getters.go
  cmd/erigon-cl/core/state/root_test.go
  cmd/erigon-cl/core/state/setters.go
  cmd/erigon-cl/core/state/state.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/process_slots_test.go
  cmd/erigon-cl/core/transition/state_transistor.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stages.go
  cmd/erigon-cl/stages/stages_beacon_state.go
  cmd/lightclient/main.go
  eth/backend.go
Labels: erigon-cl

#6294 Set default for externalcl based on whether embedded CL is supported
  README.md
  cl/clparams/config.go
  cmd/utils/flags.go
  consensus/aura/aura_test.go
  eth/backend.go
  eth/ethconfig/config.go
  params/chainspecs/chiado.json
  params/chainspecs/gnosis.json
  turbo/cli/flags.go
Labels: gnosis-chain

#6306 Temporary boot nodes for Gnosis Chain
  params/bootnodes.go
Labels: gnosis-chain

#6315 Workaround for gnosis chain POS downloader
  cmd/sentry/sentry/sentry_grpc_server.go
  turbo/stages/headerdownload/header_algos.go
Labels: gnosis-chain

#6310 Apply AuRa rewards even after Merge
  consensus/aura/aura.go
  consensus/ethash/consensus.go
  consensus/serenity/serenity.go
Labels: gnosis-chain

#6324 Extend fork ID to timestamp-based forks
  cmd/observer/observer/server.go
  cmd/rpcdaemon/commands/erigon_system.go
  cmd/sentry/sentry/eth_handshake.go
  cmd/sentry/sentry/eth_handshake_test.go
  cmd/sentry/sentry/sentry_api.go
  cmd/sentry/sentry/sentry_grpc_server.go
  cmd/sentry/sentry/sentry_grpc_server_test.go
  cmd/sentry/sentry/sentry_multi_client.go
  common/sorted.go
  common/sorted_test.go
  consensus/parlia/parlia.go
  core/forkid/forkid.go
  core/forkid/forkid_test.go
  eth/protocols/eth/discovery.go
  eth/stagedsync/stage_bodies.go
  go.mod
  go.sum
  turbo/stages/bodydownload/body_algos.go
  turbo/stages/bodydownload/body_test.go
  turbo/stages/mock_sentry.go
  turbo/stages/stageloop.go
Labels: shanghai

#6341 optimized beacon state computation
  cmd/erigon-cl/core/state/root.go
  cmd/erigon-cl/core/state/root_test.go
  cmd/erigon-cl/core/state/state_encoding/encoding.go
  cmd/erigon-cl/core/transition/beacon_state_utils.go
  cmd/erigon-cl/core/transition/beacon_state_utils_test.go
Labels: erigon-cl

#6340 Update Gnosis Chain boot nodes
  params/bootnodes.go
Labels: gnosis-chain

#6345 slight modification to computation of indexes
  cmd/erigon-cl/core/state/state_encoding/chunk.go
  cmd/erigon-cl/core/transition/beacon_state_utils.go
  cmd/erigon-cl/core/transition/beacon_state_utils_test.go
Labels: erigon-cl

#6351 Added prototype for Beacon history reconstruction stage
  cl/rpc/rpc.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/erigon-cl/stages/stages.go
  eth/stagedsync/stages/stages.go
Labels: erigon-cl

#6361 no CPU implosion when using sentinel
  cl/clparams/config.go
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/sentinel/sentinel/communication/send_request.go
  cmd/sentinel/sentinel/peers/peers.go
  cmd/sentinel/sentinel/request.go
  cmd/sentinel/sentinel/utils.go
Labels: erigon-cl

#6364 fixed backfilling algo
  cl/rpc/rpc.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/sentinel/sentinel/communication/ssz_snappy/encoding.go
  cmd/sentinel/sentinel/peers/peers.go
  cmd/sentinel/sentinel/request.go
  cmd/sentinel/sentinel/utils.go
Labels: erigon-cl

#6374 Backfilling is now smooth and does not get stuck
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/network/beacon_downloader.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/lightclient/lightclient/checkpoint.go
  cmd/lightclient/lightclient/lightclient.go
  cmd/lightclient/lightclient/request.go
  cmd/lightclient/lightclient/subscriber.go
  cmd/sentinel/main.go
  cmd/sentinel/sentinel/communication/send_request.go
  cmd/sentinel/sentinel/handshake/rules.go
  cmd/sentinel/sentinel/peers/peers.go
  cmd/sentinel/sentinel/request.go
  cmd/sentinel/sentinel/sentinel.go
  cmd/sentinel/sentinel/service/service.go
  cmd/sentinel/sentinel/utils.go
Labels: erigon-cl

#6180 Withdrawals part 2
  .gitignore
  core/genesis.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/types/block.go
  docs/programmers_guide/dupsort.md
  eth/protocols/eth/protocol.go
  ethdb/privateapi/ethbackend.go
  params/config.go
  turbo/adapter/ethapi/api.go
Labels: shanghai

#6389 removed retry logic from Erigon-CL
  cmd/sentinel/sentinel/peers/peers.go
  core/rawdb/rawdbreset/reset_stages.go
Labels: erigon-cl

#6398 better performance for Sentinel block downloader (80 blk/sec)
  cmd/erigon-cl/core/state/state.go
  cmd/erigon-cl/core/state/state_encoding/chunk.go
  cmd/erigon-cl/core/state/state_encoding/encoding.go
  cmd/erigon-cl/core/state/state_encoding/participations.go
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/network/gossip_manager.go
Labels: erigon-cl

#6399 Erigon-cl database schema
  cl/cltypes/types.go
  cl/cltypes/types_encoding.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/core/rawdb/accessors_test.go
  cmd/erigon-cl/core/transition/beacon_state_utils.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/sentinel/sentinel/service/service.go
  cmd/sentinel/sentinel/service/start.go
  go.mod
  go.sum
Labels: erigon-cl

#6414 Add override.shanghaiTime flag
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_test.go
  eth/backend.go
  eth/ethconfig/config.go
  turbo/cli/default_flags.go
Labels: shanghai

#6422 Added signed block abstraction (Phase0 & Altair & Bellatrix block support)
  cl/clparams/version.go
  cl/cltypes/block.go
  cl/cltypes/types.go
  cl/cltypes/types_encoding.go
  cl/fork/fork.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/core/state/getters.go
  cmd/erigon-cl/core/state/state.go
  cmd/sentinel/sentinel/communication/ssz_snappy/encoding.go
Labels: erigon-cl

#6435 Added full backfilling routine with support with Phase0/Altair and Bellatrix + Consensus Layer Database Schema Prototype
  cl/clparams/config.go
  cl/cltypes/block.go
  cl/rpc/rpc.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/core/rawdb/accessors_test.go
  cmd/erigon-cl/core/transition/beacon_state_utils.go
  cmd/erigon-cl/core/transition/beacon_state_utils_test.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/process_slots_test.go
  cmd/erigon-cl/network/backward_beacon_downloader.go
  cmd/erigon-cl/network/beacon_downloader.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/erigon-cl/stages/stages_beacon_state.go
Labels: erigon-cl

#6442 Fast/compact attestations encoding, prototype 1
  cl/cltypes/attestation_encoding.go
  cl/cltypes/types.go
  cl/cltypes/types_encoding.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
Labels: erigon-cl

#6446 Compact Attestations final form
  cl/cltypes/attestation_encoding.go
  cl/utils/bytes.go
Labels: erigon-cl

#6456 HashBuilder: fix top node shorter than 32 bytes
  core/types/withdrawal_test.go
  tests/state_test.go
  turbo/trie/gen_struct_step.go
  turbo/trie/hashbuilder.go
Labels: bug, shanghai

#6444 Execution Spec Tests & HashCheck()
  cmd/sentry/sentry/sentry_multi_client.go
  core/types/block.go
  eth/backend.go
  tests/block_test_util.go
  tests/exec_spec_test.go
  tests/execution-spec-tests/eips/eip3651/warm_coinbase_call_out_of_gas.json
  tests/execution-spec-tests/eips/eip3651/warm_coinbase_gas_usage.json
  tests/execution-spec-tests/eips/eip3855/push0.json
  tests/execution-spec-tests/example/example/yul.json
  tests/execution-spec-tests/vm/chain_id/chain_id.json
  tests/execution-spec-tests/vm/dup/dup.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_balance_within_block.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_many_withdrawals.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_multiple_withdrawals_same_address.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_newly_created_contract.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_no_evm_execution.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_overflowing_balance.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_self_destructing_account.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_use_value_in_contract.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_use_value_in_tx.json
  tests/execution-spec-tests/withdrawals/withdrawals/withdrawals_zero_amount.json
  tests/init.go
  tests/init_test.go
  turbo/app/import.go
  turbo/stages/bodydownload/body_algos.go
  turbo/stages/mock_sentry.go
Labels: shanghai

#6460 added indexes to beacon blocks
  cl/cltypes/block.go
  cl/cltypes/types.go
  cmd/erigon-cl/core/rawdb/accessors.go
  cmd/erigon-cl/main.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
  cmd/erigon-cl/stages/stage_beacon_indexes.go
  cmd/erigon-cl/stages/stage_history_reconstruction.go
  cmd/erigon-cl/stages/stages.go
  cmd/erigon-cl/stages/stages_beacon_state.go
  cmd/lightclient/lightclient/checkpoint.go
  cmd/lightclient/lightclient/request.go
  eth/stagedsync/stages/stages.go
Labels: erigon-cl

#6468 Added execution module as erigon-el, first draft.
  Makefile
  cmd/erigon-el/backend/backend.go
  cmd/erigon-el/backend/node.go
  cmd/erigon-el/main.go
  cmd/erigon-el/stages/stages.go
Labels: erigon-cl
