Repository erigontech/erigon, pull requests merged in 2023-03, with the labels that each got.

#6996 Added removeStreamHandler again
  cmd/lightclient/lightclient/lightclient.go
  cmd/sentinel/sentinel/sentinel.go
Labels: lightclient

#7005 Add Prague fork support
  consensus/misc/eip1559_test.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  core/vm/runtime/runtime.go
  eth/stagedsync/default_stages.go
  go.mod
  go.sum
Labels: prague

#7012 Schedule Shapella on Görli/Prater
  cl/clparams/config.go
  core/forkid/forkid_test.go
  params/chainspecs/goerli.json
Labels: shapella

#7014 Rename SHARDING_FORK to DENEB_FORK
  cl/clparams/config.go
Labels: lightclient, dencun

#7020 optimized state roots cache for erigon-cl
  cmd/erigon-cl/core/state/root.go
  cmd/erigon-cl/core/state/root_test.go
  cmd/erigon-cl/core/state/state.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/state_transistor.go
Labels: erigon-cl

#7066 Added phase0 support to Erigon-CL.
  cl/cltypes/validator.go
  cl/utils/bytes.go
  cmd/ef-tests-cl/consensus_tests/consensus_tester.go
  cmd/ef-tests-cl/consensus_tests/epoch_processing.go
  cmd/ef-tests-cl/consensus_tests/handlers.go
  cmd/ef-tests-cl/consensus_tests/sanity.go
  cmd/erigon-cl/core/state/accessors.go
  cmd/erigon-cl/core/state/getters.go
  cmd/erigon-cl/core/state/setters.go
  cmd/erigon-cl/core/state/ssz.go
  cmd/erigon-cl/core/state/ssz_test.go
  cmd/erigon-cl/core/state/state.go
  cmd/erigon-cl/core/transition/finalization_and_justification.go
  cmd/erigon-cl/core/transition/process_attestations.go
  cmd/erigon-cl/core/transition/process_epoch.go
  cmd/erigon-cl/core/transition/process_rewards_and_penalties.go
Labels: erigon-cl

#7083 Added partial SSZ library
  cl/clparams/config.go
  cl/cltypes/aggregate.go
  cl/cltypes/attestations.go
  cl/cltypes/beacon_block.go
  cl/cltypes/beacon_header.go
  cl/cltypes/block_requests.go
  cl/cltypes/bls_to_execution_change.go
  cl/cltypes/checkpoint.go
  cl/cltypes/eth1_block.go
  cl/cltypes/eth1_data.go
  cl/cltypes/eth1_header.go
  cl/cltypes/fork.go
  cl/cltypes/historical_summary.go
  cl/cltypes/lightclient.go
  cl/cltypes/network.go
  cl/cltypes/network_test.go
  cl/cltypes/slashings.go
  cl/cltypes/ssz/errors.go
  cl/cltypes/ssz/ssz.go
  cl/cltypes/validator.go
  cl/fork/fork.go
  cl/merkle_tree/list.go
  cl/rpc/rpc.go
  cl/utils/bytes.go
  cmd/ef-tests-cl/consensus_tests/utils.go
  cmd/erigon-cl/core/state/ssz.go
  cmd/erigon-cl/network/beacon_downloader.go
  cmd/erigon-cl/network/gossip_manager.go
  cmd/sentinel/main.go
  cmd/sentinel/sentinel/communication/ssz_snappy/encoding.go
  core/types/withdrawal.go
Labels: erigon-cl

#7073 check for free messages when calling trace_transaction
  cmd/rpcdaemon/commands/trace_adhoc.go
  cmd/rpcdaemon/commands/trace_filtering.go
Labels: gnosis-chain

#7088 Added hard fork transition support to Erigon-CL.
  cl/cltypes/eth1_header.go
  cmd/ef-tests-cl/consensus_tests/handlers.go
  cmd/ef-tests-cl/consensus_tests/transition.go
  cmd/ef-tests-cl/consensus_tests/utils.go
  cmd/ef-tests-cl/setup.sh
  cmd/erigon-cl/core/state/accessors.go
  cmd/erigon-cl/core/state/setters.go
  cmd/erigon-cl/core/state/upgrade.go
  cmd/erigon-cl/core/transition/block_transition.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/process_sync_committee_update.go
Labels: erigon-cl

#7145 Schedule mainnet Shapella. Fix BellatrixForkEpoch
  cl/clparams/config.go
  core/forkid/forkid_test.go
  params/chainspecs/mainnet.json
Labels: shapella

#7149 Total difficulty can be huge on Gnosis
  eth/protocols/eth/protocol.go
Labels: gnosis-chain

#7185 Added reverse beacon changeset for beacon state rewind
  cl/cltypes/attestations.go
  cl/cltypes/justification_bits.go
  cl/cltypes/participation_flags.go
  cmd/ef-tests-cl/consensus_tests/fork.go
  cmd/ef-tests-cl/consensus_tests/sanity.go
  cmd/erigon-cl/core/beacon_changeset/list_changeset.go
  cmd/erigon-cl/core/beacon_changeset/list_changeset_test.go
  cmd/erigon-cl/core/beacon_changeset/reverse_beacon_state_changeset.go
  cmd/erigon-cl/core/state/accessors.go
  cmd/erigon-cl/core/state/accessors_test.go
  cmd/erigon-cl/core/state/changeset.go
  cmd/erigon-cl/core/state/getters.go
  cmd/erigon-cl/core/state/mutators.go
  cmd/erigon-cl/core/state/mutators_test.go
  cmd/erigon-cl/core/state/params.go
  cmd/erigon-cl/core/state/setters.go
  cmd/erigon-cl/core/state/state.go
  cmd/erigon-cl/core/state/upgrade.go
  cmd/erigon-cl/core/transition/finalization_and_justification.go
  cmd/erigon-cl/core/transition/operations.go
  cmd/erigon-cl/core/transition/operations_test.go
  cmd/erigon-cl/core/transition/process_attestations.go
  cmd/erigon-cl/core/transition/process_bls_to_execution_change.go
  cmd/erigon-cl/core/transition/process_effective_balance_update.go
  cmd/erigon-cl/core/transition/process_epoch.go
  cmd/erigon-cl/core/transition/process_registry_updates.go
  cmd/erigon-cl/core/transition/process_slots.go
  cmd/erigon-cl/core/transition/process_slots_test.go
  cmd/erigon-cl/core/transition/processing.go
  cmd/erigon-cl/core/transition/processing_test.go
  cmd/erigon-cl/core/transition/resets.go
  cmd/erigon-cl/stages/stage_beacon_blocks.go
Labels: erigon-cl

#7196 log BLS verification failure
  cmd/erigon-cl/core/transition/operations.go
Labels: erigon-cl

#7197 Add maxNumberOfFailedWithdrawalsToProcess to executeSystemWithdrawals
  consensus/aura/aura.go
  consensus/aura/contracts/withdrawal.json
Labels: gnosis-chain
