Repository erigontech/erigon, pull requests merged in 2024-05, with the labels that each got.

#10130 polygon/heimdall: refactor into txReadStore and txStore
  polygon/heimdall/store.go
  polygon/heimdall/store_mock.go
Labels: polygon

#10133 Make E35 block production produce good blocks
  cmd/integration/commands/stages.go
  eth/backend.go
  eth/stagedsync/exec3.go
  eth/stagedsync/stage_execute.go
  eth/stagedsync/stage_mining_exec.go
  eth/stagedsync/stagebuilder.go
  eth/stagedsync/stagedsynctest/harness.go
  turbo/stages/mock/mock_sentry.go
  turbo/stages/stageloop.go
Labels: erigon3

#10119 eth, txpool: enforce 30gwei for gas related configs for polygon
  erigon-lib/txpool/txpoolcfg/txpoolcfg.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/gasprice/gasprice.go
  eth/gasprice/gaspricecfg/gaspricecfg.go
Labels: polygon, release:cherry-pick

#10149 Set existing torrent webseeds after download
  erigon-lib/downloader/downloader.go
  erigon-lib/downloader/webseed.go
Labels: from-release

#10155 dvovk/pprof fix
  turbo/debug/flags.go
Labels: to-release

#10062 Turn NoPruneContracts into DepositContract
  cmd/integration/commands/stages.go
  erigon-lib/chain/chain_config.go
  eth/stagedsync/stage_execute.go
  eth/stagedsync/stage_log_index.go
  eth/stagedsync/stage_log_index_test.go
  params/chainspecs/chiado.json
  params/chainspecs/gnosis.json
  params/chainspecs/goerli.json
  params/chainspecs/holesky.json
  params/chainspecs/mainnet.json
  params/chainspecs/sepolia.json
  turbo/stages/stageloop.go
Labels: pectra

#10146 e3 etl on index collation
  erigon-lib/state/aggregator.go
  erigon-lib/state/aggregator_files.go
  erigon-lib/state/history.go
  erigon-lib/state/inverted_index.go
  erigon-lib/state/inverted_index_test.go
Labels: erigon3

#10173 nil block during execution
  eth/ethconfig/config.go
  eth/stagedsync/exec3.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/snapshotsync/freezeblocks/block_snapshots.go
  turbo/snapshotsync/freezeblocks/bor_snapshots.go
Labels: priority:critical

#10114 e35: nodesdb batch
  p2p/enode/nodedb.go
Labels: erigon3

#10214 Blocks snaps - see 0 indices after reopen
  cmd/rpcdaemon/cli/config.go
  turbo/app/snapshots_cmd.go
  turbo/snapshotsync/freezeblocks/block_snapshots.go
Labels: priority:critical

#10215 downloader: --seedbox doesn't init snaptypes
  cmd/downloader/main.go
  cmd/integration/main.go
  cmd/rpcdaemon/main.go
Labels: priority:critical

#10210 diagnostics: serve local UI
  cmd/diag/main.go
  cmd/diag/ui/ui.go
  go.mod
  go.sum
Labels: priority:high

#9991 EIP-2935 Historical block hashes
  consensus/merge/merge.go
  consensus/misc/eip2935.go
  core/vm/eips.go
  core/vm/instructions.go
  core/vm/jump_table.go
  core/vm/operations_acl.go
  core/vm/runtime/runtime.go
  core/vm/runtime/runtime_test.go
  params/protocol_params.go
Labels: pectra, priority:high

#10165 e3: adding the proper pruned node (known as full node)
  cl/phase1/execution_client/block_collector/block_collector.go
  cl/phase1/stages/stage_history_download.go
  cmd/capcli/cli.go
  cmd/integration/commands/flags.go
  cmd/integration/commands/stages.go
  erigon-lib/kv/tables.go
  eth/stagedsync/stage_snapshots.go
  ethdb/prune/storage_mode.go
  ethdb/prune/storage_mode_test.go
  go.mod
  params/network_params.go
  turbo/app/snapshots_cmd.go
  turbo/cli/default_flags.go
  turbo/cli/flags.go
  turbo/execution/eth1/block_building.go
  turbo/execution/eth1/inserters.go
  turbo/services/interfaces.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/snapshotsync/freezeblocks/block_snapshots.go
  turbo/snapshotsync/freezeblocks/block_snapshots_test.go
  turbo/snapshotsync/snapshotsync.go
  turbo/snapshotsync/snapshotsync_test.go
  turbo/stages/mock/mock_sentry.go
  turbo/stages/stageloop.go
Labels: priority:medium

#10049 E3 commitment tweaks
  erigon-lib/commitment/bin_patricia_hashed.go
  erigon-lib/commitment/commitment.go
  erigon-lib/commitment/commitment_bench_test.go
  erigon-lib/commitment/commitment_test.go
  erigon-lib/commitment/hex_patricia_hashed.go
  erigon-lib/commitment/hex_patricia_hashed_bench_test.go
  erigon-lib/state/aggregator_files.go
  erigon-lib/state/btree_index.go
  erigon-lib/state/domain.go
  erigon-lib/state/domain_committed.go
  erigon-lib/state/domain_shared.go
  erigon-lib/state/domain_shared_bench_test.go
  erigon-lib/state/domain_test.go
  eth/stagedsync/stage_execute.go
  eth/stagedsync/stage_trie3.go
Labels: erigon3

#10197 polygon/heimdall: scrape Heimdall data into a local DB
  cmd/devnet/services/polygon/heimdall.go
  polygon/bor/bor_test.go
  polygon/heimdall/checkpoint.go
  polygon/heimdall/client.go
  polygon/heimdall/client_mock.go
  polygon/heimdall/closed_range.go
  polygon/heimdall/entity.go
  polygon/heimdall/entity_fetcher.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/heimdall.go
  polygon/heimdall/heimdall_mock.go
  polygon/heimdall/heimdall_test.go
  polygon/heimdall/milestone.go
  polygon/heimdall/scraper.go
  polygon/heimdall/span.go
  polygon/heimdall/store.go
  polygon/sync/service.go
Labels: polygon

#10247 polygon/heimdall: scraper observer registrations
  polygon/heimdall/scraper.go
  polygon/p2p/message_listener.go
  polygon/p2p/peer_tracker.go
  polygon/p2p/service_mock.go
  polygon/polygoncommon/event_notifier.go
  polygon/polygoncommon/observers.go
Labels: polygon

#10080 Unittest for cl network services
  cl/abstract/beacon_state.go
  cl/abstract/mock_services/beacon_state_mutator_mock.go
  cl/abstract/mock_services/beacon_state_reader_mock.go
  cl/beacon/synced_data/interface.go
  cl/beacon/synced_data/mock_services/synced_data_mock.go
  cl/beacon/synced_data/synced_data.go
  cl/phase1/core/state/interface.go
  cl/phase1/network/services/attestation_service_test.go
  cl/phase1/network/services/blob_sidecar_service_test.go
  cl/phase1/network/services/bls_to_execution_change_service.go
  cl/phase1/network/services/bls_to_execution_change_service_test.go
  cl/phase1/network/services/global_mock_test.go
  cl/phase1/network/services/proposer_slashing_service.go
  cl/phase1/network/services/proposer_slashing_service_test.go
  cl/phase1/network/services/voluntary_exit_service.go
  cl/phase1/network/services/voluntary_exit_service_test.go
  cl/phase1/network/subnets/subnets.go
Labels: caplin

#10297 polygon/heimdall: RangeIndex
  eth/backend.go
  polygon/heimdall/checkpoint.go
  polygon/heimdall/entity.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/milestone.go
  polygon/heimdall/range_index.go
  polygon/heimdall/range_index_test.go
  polygon/heimdall/scraper.go
  polygon/heimdall/span.go
  polygon/sync/service.go
Labels: polygon

#10238 Implement EIP-7685 and EIP-6110
  cl/clparams/version.go
  cl/cltypes/beacon_block_test.go
  cl/phase1/execution_client/block_collector/block_collector.go
  cl/phase1/execution_client/execution_client_direct.go
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_stenv.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/state/commands/opcode_tracer.go
  cmd/state/exec3/state.go
  cmd/state/exec3/state_recon.go
  cmd/state/exec3/trace_worker2.go
  consensus/aura/aura.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/ethash/consensus.go
  consensus/merge/merge.go
  core/blockchain.go
  core/chain_makers.go
  core/genesis_write.go
  core/rawdb/accessors_chain.go
  core/rawdb/accessors_chain_test.go
  core/rawdb/accessors_indexes_test.go
  core/state/txtask.go
  core/types/block.go
  core/types/block_test.go
  core/types/deposit.go
  core/types/encdec_test.go
  core/types/request.go
  eth/stagedsync/stage_mining_create_block.go
  eth/stagedsync/stage_mining_exec.go
  eth/stagedsync/stage_mining_finish.go
  polygon/bor/bor.go
  polygon/bor/fake.go
  polygon/p2p/message_listener_test.go
  tests/statedb_insert_chain_transaction_test.go
  turbo/engineapi/engine_block_downloader/block_downloader.go
  turbo/engineapi/engine_server.go
  turbo/engineapi/engine_types/jsonrpc.go
  turbo/engineapi/interface.go
  turbo/execution/eth1/block_building.go
  turbo/execution/eth1/eth1_chain_reader.go/chain_reader.go
  turbo/execution/eth1/eth1_utils/grpc_test.go
  turbo/snapshotsync/freezeblocks/block_reader.go
Labels: pectra, priority:high

#10337 polygon/heimdall: heimdall.Service
  erigon-lib/common/collections.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/heimdall.go
  polygon/heimdall/heimdall_mock.go
  polygon/heimdall/heimdall_test.go
  polygon/heimdall/scraper.go
  polygon/heimdall/service.go
  polygon/sync/service.go
  polygon/sync/tip_events.go
Labels: polygon

#10351 polygon/sync: refactor Service.Run with errgroup
  polygon/sync/service.go
Labels: polygon

#10359 polygon/heimdall: refactor TestMarshall
  polygon/heimdall/checkpoint_test.go
  polygon/heimdall/heimdall_test.go
  polygon/heimdall/heimdalltest/test_json_marshal.go
  polygon/heimdall/milestone_test.go
  polygon/heimdall/span_test.go
Labels: polygon

#10367 BLS: add more subgroup checks and finalized EIP-2537 tests
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/testdata/precompiles/blsG1Add-eip.json
  core/vm/testdata/precompiles/blsG1Add.json
  core/vm/testdata/precompiles/blsG1Mul-eip.json
  core/vm/testdata/precompiles/blsG1Mul.json
  core/vm/testdata/precompiles/blsG1MultiExp-eip.json
  core/vm/testdata/precompiles/blsG1MultiExp.json
  core/vm/testdata/precompiles/blsG2Add-eip.json
  core/vm/testdata/precompiles/blsG2Add.json
  core/vm/testdata/precompiles/blsG2Mul-eip.json
  core/vm/testdata/precompiles/blsG2Mul.json
  core/vm/testdata/precompiles/blsG2MultiExp-eip.json
  core/vm/testdata/precompiles/blsG2MultiExp.json
  core/vm/testdata/precompiles/blsMapG1-eip.json
  core/vm/testdata/precompiles/blsMapG1.json
  core/vm/testdata/precompiles/blsMapG2-eip.json
  core/vm/testdata/precompiles/blsMapG2.json
  core/vm/testdata/precompiles/blsPairing-eip.json
  core/vm/testdata/precompiles/fail-blsG1Add-eip.json
  core/vm/testdata/precompiles/fail-blsG1Mul-eip.json
  core/vm/testdata/precompiles/fail-blsG1MultiExp-eip.json
  core/vm/testdata/precompiles/fail-blsG2Add-eip.json
  core/vm/testdata/precompiles/fail-blsG2Mul-eip.json
  core/vm/testdata/precompiles/fail-blsG2MultiExp-eip.json
  core/vm/testdata/precompiles/fail-blsMapG1-eip.json
  core/vm/testdata/precompiles/fail-blsMapG2-eip.json
  core/vm/testdata/precompiles/fail-blsPairing-eip.json
Labels: pectra

#10369 add withdrawalRequests to execution payload
  core/types/withdrawal_requests.go
  turbo/engineapi/engine_types/jsonrpc.go
Labels: pectra

#10371 polygon/heimdall: use generics to eliminate casts
  polygon/heimdall/checkpoint.go
  polygon/heimdall/entity_fetcher.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/milestone.go
  polygon/heimdall/scraper.go
  polygon/heimdall/service.go
  polygon/heimdall/span.go
  polygon/heimdall/waypoint.go
Labels: polygon

#10379 polygon/heimdall: unit test entityFetcher.FetchAllEntities
  polygon/heimdall/entity_fetcher.go
  polygon/heimdall/entity_fetcher_test.go
  polygon/heimdall/scraper.go
Labels: polygon

#10179 Optimistic execution
  cl/beacon/handler/blocks.go
  cl/beacon/handler/builder.go
  cl/beacon/handler/committees.go
  cl/beacon/handler/duties_attester.go
  cl/beacon/handler/duties_proposer.go
  cl/beacon/handler/duties_sync.go
  cl/beacon/handler/headers.go
  cl/beacon/handler/rewards.go
  cl/beacon/handler/states.go
  cl/beacon/handler/validators.go
  cl/phase1/execution_client/execution_client_direct.go
  cl/phase1/execution_client/execution_client_rpc.go
  cl/phase1/execution_client/execution_engine_mock.go
  cl/phase1/execution_client/interface.go
  cl/phase1/execution_client/types.go
  cl/phase1/forkchoice/forkchoice.go
  cl/phase1/forkchoice/interface.go
  cl/phase1/forkchoice/mock_services/forkchoice_mock.go
  cl/phase1/forkchoice/on_block.go
  cl/phase1/forkchoice/optimistic/optimistic.go
  cl/phase1/forkchoice/optimistic/optimistic_impl.go
  cl/phase1/forkchoice/optimistic/optimistic_test.go
Labels: caplin

#10377 polygon/heimdall: database
  erigon-lib/kv/kv_interface.go
  eth/backend.go
  polygon/heimdall/database.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/service.go
  polygon/sync/service.go
Labels: polygon

#10424 polygon/heimdall: EntityFetcher.FetchEntitiesRange unit test
  polygon/heimdall/entity_fetcher.go
  polygon/heimdall/entity_fetcher_test.go
Labels: polygon

#10415 Add some missing EIP-7685 wirings
  cmd/evm/internal/t8ntool/execution.go
  cmd/evm/internal/t8ntool/gen_stenv.go
  cmd/evm/internal/t8ntool/transition.go
  cmd/state/exec3/trace_worker2.go
  consensus/clique/verifier.go
  consensus/errors.go
  consensus/ethash/consensus.go
  consensus/merge/merge.go
  core/types/block.go
  core/types/gen_header_json.go
  eth/protocols/eth/protocol.go
  eth/stagedsync/exec3.go
  p2p/sentry/sentry_multi_client/sentry_multi_client.go
  polygon/bor/bor.go
  tests/block_test_util.go
  tests/gen_btheader.go
  turbo/adapter/ethapi/api.go
  turbo/execution/eth1/eth1_utils/grpc.go
  turbo/execution/eth1/getters.go
  turbo/stages/bodydownload/body_algos.go
  turbo/stages/bodydownload/body_data_struct.go
Labels: pectra

#10380 Update EIP-2935: Adjust gas-costs for 2935
  core/vm/eips.go
  core/vm/operations_acl.go
Labels: pectra

#10433 polygon/heimdallsim: refactor HeimdallSimulator
  cmd/devnet/services/polygon/heimdallsim/heimdall_simulator.go
  cmd/devnet/services/polygon/heimdallsim/heimdall_simulator_test.go
  cmd/devnet/services/polygon/heimdallsim/testdata/v1-000000-000500-borevents.seg
  cmd/devnet/services/polygon/heimdallsim/testdata/v1-000000-000500-borspans.seg
  cmd/devnet/services/polygon/heimdallsim/testdata/v1-000500-001000-borevents.seg
  p2p/sentry/simulator/simulator_test.go
  polygon/heimdall/simulator/heimdall_simulator.go
Labels: polygon

#10124 eth/stagedsync: implement stage polygon sync forward
  eth/backend.go
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/default_stages.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_polygon_sync.go
  polygon/bor/bor.go
  polygon/heimdall/checkpoint.go
  polygon/sync/blocks_verifier.go
  polygon/sync/canonical_chain_builder_factory.go
  polygon/sync/difficulty.go
  polygon/sync/header_time_validator.go
  polygon/sync/service.go
  polygon/sync/sync.go
  turbo/cli/default_flags.go
  turbo/stages/stageloop.go
Labels: polygon

#10426 polygon/heimdall: fetch milestones from the first available
  cmd/devnet/services/polygon/heimdall.go
  cmd/devnet/services/polygon/heimdallsim/heimdall_simulator.go
  polygon/bor/bor_test.go
  polygon/heimdall/client.go
  polygon/heimdall/client_mock.go
  polygon/heimdall/entity_fetcher.go
  polygon/heimdall/entity_fetcher_test.go
  polygon/heimdall/scraper.go
Labels: polygon

#10437 polygon/heimdall: refactor a combined scraper into 3 independent
  polygon/heimdall/scraper.go
  polygon/heimdall/service.go
Labels: polygon

#10457 Hot-Fix for E3 unwind
  turbo/stages/stageloop.go
Labels: erigon3

#10468 add flag checking for pruning waypoints
  core/rawdb/accessors_chain.go
  core/rawdb/blockio/block_writer.go
  eth/stagedsync/stage_bor_heimdall.go
  polygon/bor/bordb/prune.go
  polygon/bor/snaptype/types.go
Labels: polygon

#10466 polygon/sync: milestone headers verifier
  eth/stagedsync/stage_polygon_sync.go
  polygon/sync/accumulated_headers_verifier.go
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/service.go
  polygon/sync/sync.go
  polygon/sync/waypoint_headers_verifier.go
  polygon/sync/waypoint_headers_verifier_test.go
Labels: polygon

#10469 stagedsync: polygon sync stage fix nil panic when downloading state sync events
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon

#10412 Caplin: configurable checkpoint sync url
  cl/clparams/config.go
  cl/phase1/core/checkpoint.go
  cmd/capcli/cli.go
  cmd/caplin/caplincli/config.go
  cmd/caplin/caplinflags/flags.go
  cmd/caplin/main.go
  cmd/sentinel/main.go
  cmd/utils/flags.go
  eth/backend.go
  turbo/cli/default_flags.go
Labels: caplin

#10505 stagedsync: polygon sync stage progress updates
  eth/stagedsync/default_stages.go
  eth/stagedsync/stage_polygon_sync.go
  turbo/stages/stageloop.go
Labels: polygon

#10493 add lock to purgeMilestoneIDsList
  polygon/bor/finality/whitelist/milestone.go
  polygon/bor/finality/whitelist/service_test.go
Labels: polygon

#10467 polygon/sync: blockdownloader to use common.Sleep
  cmd/observer/observer/crawler.go
  cmd/observer/observer/diplomacy.go
  cmd/observer/observer/interrogation_error.go
  cmd/observer/observer/interrogator.go
  cmd/observer/observer/status_logger.go
  cmd/observer/utils/retry.go
  erigon-lib/common/sleep.go
  erigon-lib/common/sleep_test.go
  polygon/heimdall/heimdall.go
  polygon/heimdall/scraper.go
  polygon/sync/block_downloader.go
Labels: polygon

#10530 polygon/heimdall: fix checkpoint json marshalling
  polygon/heimdall/checkpoint.go
Labels: polygon

#10370 core/vm: set tracer-observable value of a delegatecall to match parent value
  core/vm/evm.go
  eth/tracers/internal/tracetest/testdata/call_tracer/delegatecall.json
  eth/tracers/internal/tracetest/testdata/call_tracer_withLog/delegatecall.json
Labels: priority:medium

#10513 Caplin: Call FCU on block produced locally
  cl/beacon/handler/block_production.go
Labels: caplin

#10543 stagedsync: polygon sync stage fix canonical hash
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon

#10551 blobGasPrice should be marshalled as hex
  eth/ethutils/receipt.go
  turbo/jsonrpc/eth_receipts.go
  turbo/jsonrpc/otterscan_search_v3.go
Labels: dencun

#10537 polygon/sync: Bridge implementation
  erigon-lib/kv/kv_interface.go
  erigon-lib/kv/tables.go
  eth/stagedsync/bor_heimdall_shared.go
  node/node.go
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/db.go
  polygon/bridge/log_prefix.go
  polygon/bridge/service.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/event_record.go
  polygon/heimdall/service.go
  polygon/polygoncommon/database.go
Labels: polygon

#10548 stagedsync: polygon sync stage fetch state sync events per sprint start
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_mining_bor_heimdall.go
  eth/stagedsync/stage_polygon_sync.go
  eth/stagedsync/stages/stages.go
  polygon/heimdall/heimdall.go
Labels: polygon

#10512 Caplin: Proper "Normalization" of length of ForkVersions to 8 hex characters
  cl/clparams/config.go
Labels: caplin

#10569 Remove startJ chain of return params
  erigon-lib/state/aggregator_files.go
  erigon-lib/state/domain_test.go
  erigon-lib/state/history_test.go
  erigon-lib/state/inverted_index_test.go
  erigon-lib/state/merge.go
  erigon-lib/state/merge_test.go
Labels: priority:low

#10574 stagedsync: polygon sync stage to append canonical tx nums
  eth/stagedsync/default_stages.go
  eth/stagedsync/stage_headers.go
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon
