Repository erigontech/erigon, pull requests merged in 2024-04, with the labels that each got.

#9866 Caplin encounters an obstruction caused by CommitteeSubsManagement
  cl/validator/committee_subscription/committee_subscription.go
Labels: caplin

#9829 Caplin: Add sync committees aggregation
  cl/beacon/handler/blocks.go
  cl/beacon/handler/duties_sync.go
  cl/beacon/handler/handler.go
  cl/beacon/handler/harness_test.go
  cl/beacon/handler/pool.go
  cl/beacon/handler/pool_test.go
  cl/beacon/handler/rewards.go
  cl/beacon/handler/states.go
  cl/beacon/handler/states_test.go
  cl/beacon/handler/subscription.go
  cl/beacon/handler/test_data/duties_sync_1.yaml
  cl/beacon/handler/utils_test.go
  cl/beacon/handler/validators.go
  cl/beacon/synced_data/synced_data.go
  cl/cltypes/contribution.go
  cl/gossip/gossip.go
  cl/phase1/core/state/cache_accessors.go
  cl/phase1/core/state/raw/getters.go
  cl/phase1/forkchoice/fork_choice_test.go
  cl/phase1/forkchoice/fork_graph/fork_graph_disk.go
  cl/phase1/forkchoice/fork_graph/interface.go
  cl/phase1/forkchoice/forkchoice.go
  cl/phase1/forkchoice/forkchoice_mock.go
  cl/phase1/forkchoice/interface.go
  cl/phase1/forkchoice/on_attestation.go
  cl/phase1/forkchoice/on_operations.go
  cl/phase1/forkchoice/utils.go
  cl/phase1/network/gossip_manager.go
  cl/phase1/network/subnets/subnets.go
  cl/pool/operations_pool.go
  cl/sentinel/gossip.go
  cl/sentinel/sentinel.go
  cl/sentinel/service/notifiers.go
  cl/sentinel/service/service.go
  cl/sentinel/service/start.go
  cl/sentinel/utils.go
  cl/spectest/consensus_tests/fork_choice.go
  cl/utils/bytes.go
  cl/utils/time.go
  cl/validator/sync_contribution_pool/interface.go
  cl/validator/sync_contribution_pool/sync_contribution_pool.go
  cl/validator/sync_contribution_pool/sync_contribution_pool_mock.go
  cl/validator/sync_contribution_pool/sync_contribution_pool_test.go
  cmd/caplin/caplin1/run.go
  cmd/caplin/main.go
  eth/backend.go
Labels: caplin

#9863 Caplin: Fixed network regressions
  cl/clparams/config.go
  cl/phase1/core/state/cache.go
  cl/phase1/core/state/cache_accessors.go
  cl/phase1/forkchoice/blob_sidecars.go
  cl/phase1/forkchoice/on_block.go
  cl/phase1/network/blobs.go
  cl/phase1/network/gossip_manager.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/stage_history_download.go
  cl/sentinel/gossip.go
  cl/sentinel/service/service.go
  cl/sentinel/service/start.go
  turbo/engineapi/engine_block_downloader/block_downloader.go
Labels: caplin

#9729 polygon/sync: integrate with erigon
  cmd/utils/flags.go
  eth/backend.go
  eth/ethconfig/config.go
  polygon/sync/service.go
  turbo/cli/default_flags.go
Labels: polygon

#9873 polygon/sync: fix issues found during testing
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/execution_client.go
  polygon/sync/log_prefix.go
  polygon/sync/service.go
  polygon/sync/storage.go
  polygon/sync/sync.go
  polygon/sync/tip_events.go
Labels: polygon

#9882 polygon/heimdall: heimdall improvements after astrid sync tests
  polygon/heimdall/client.go
  polygon/heimdall/heimdall.go
  polygon/heimdall/log_prefix.go
  polygon/heimdall/waypoint.go
Labels: polygon

#9825 polygon/p2p: fix issues found during testing
  p2p/sentry/sentry_grpc_server.go
Labels: polygon

#9892 polygon/sync: storage add debug log for insert blocks duration info
  polygon/sync/block_downloader.go
  polygon/sync/storage.go
Labels: polygon

#9897 polygon/heimdall: optimise fetch checkpoints
  cmd/devnet/services/polygon/heimdall.go
  polygon/bor/bor_test.go
  polygon/heimdall/checkpoint.go
  polygon/heimdall/client.go
  polygon/heimdall/client_mock.go
  polygon/heimdall/heimdall.go
  polygon/heimdall/heimdall_test.go
  polygon/heimdall/metrics.go
  polygon/p2p/message_listener.go
Labels: polygon

#9896 caplin: post beacon pool attestations
  cl/beacon/handler/handler.go
  cl/beacon/handler/pool.go
  cl/beacon/handler/utils_test.go
  cl/beacon/handler/validator_test.go
  cl/phase1/forkchoice/forkchoice_mock.go
  cl/phase1/forkchoice/interface.go
  cl/phase1/forkchoice/on_attestation.go
  cl/phase1/network/subnets/subnets.go
  cl/validator/committee_subscription/committee_subscription.go
  cmd/caplin/caplin1/run.go
Labels: caplin

#9887 Refactoring of messages handling
  cl/persistence/blob_storage/blob_db.go
  cl/persistence/block_store.go
  cl/persistence/state/historical_states_reader/historical_states_reader_test.go
  cl/phase1/core/state/raw/hashing.go
  cl/phase1/core/state/raw/state.go
  cl/phase1/execution_client/block_collector/block_collector.go
  cl/phase1/execution_client/block_collector/block_collector_test.go
  cl/phase1/execution_client/execution_client_direct.go
  cl/phase1/execution_client/execution_engine_mock.go
  cl/phase1/execution_client/interface.go
  cl/phase1/forkchoice/blob_sidecars.go
  cl/phase1/forkchoice/fork_graph/fork_graph_disk.go
  cl/phase1/forkchoice/forkchoice.go
  cl/phase1/forkchoice/forkchoice_mock.go
  cl/phase1/forkchoice/interface.go
  cl/phase1/forkchoice/on_attestation.go
  cl/phase1/forkchoice/on_block.go
  cl/phase1/forkchoice/utils.go
  cl/phase1/network/gossip_manager.go
  cl/phase1/network/services/blob_sidecar_service.go
  cl/phase1/network/services/block_service.go
  cl/phase1/network/services/constants.go
  cl/phase1/network/services/interface.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/stage_history_download.go
  cl/spectest/Makefile
  cl/spectest/consensus_tests/fork_choice.go
  cmd/caplin/caplin1/run.go
  erigon-lib/gointerfaces/execution/execution_grpc.pb.go
  go.mod
Labels: caplin

#9860 tests: Heimdall simulator tests
  cmd/snapshots/sync/sync.go
  polygon/heimdall/simulator/heimdall_simulator.go
  polygon/heimdall/simulator/simulator_test.go
  polygon/heimdall/simulator/testdata/v1-000000-000500-borevents.seg
  polygon/heimdall/simulator/testdata/v1-000000-000500-borspans.seg
  polygon/heimdall/simulator/testdata/v1-000500-001000-borevents.seg
  turbo/snapshotsync/freezeblocks/block_reader.go
Labels: polygon

#9883 Update gnosis, chiado bootnodes
  cl/clparams/config.go
  params/bootnodes.go
Labels: gnosis, do-not-merge

#9929 polygon/p2p: remove no longer needed trackingPenalizer
  polygon/p2p/fetcher_tracking_test.go
  polygon/p2p/peer_penalizer.go
  polygon/p2p/peer_tracker.go
  polygon/p2p/peer_tracker_test.go
  polygon/p2p/service.go
Labels: polygon

#9957 p2p/sentry/sentry_multi_client: flag to disable block download code
  cmd/integration/commands/stages.go
  eth/backend.go
  p2p/sentry/sentry_multi_client/sentry_multi_client.go
  turbo/stages/mock/mock_sentry.go
Labels: polygon

#10009 Caplin: Added `SyncAggregate` computation to block production
  cl/aggregation/pool_impl.go
  cl/beacon/handler/block_production.go
  cl/beacon/handler/utils_test.go
  cl/phase1/forkchoice/forkchoice_mock.go
  cl/phase1/network/services/aggregate_and_proof_service_test.go
  cl/phase1/network/services/blob_sidecar_service_test.go
  cl/phase1/network/services/block_service_test.go
  cl/phase1/network/services/sync_committee_messages_service.go
  cl/sentinel/handlers/heartbeats_test.go
  cl/sentinel/handlers/light_client_test.go
  cl/utils/bytes.go
  cl/validator/sync_contribution_pool/interface.go
  cl/validator/sync_contribution_pool/mock.go
  cl/validator/sync_contribution_pool/sync_contribution_pool.go
  cl/validator/sync_contribution_pool/sync_contribution_pool_mock.go
  cl/validator/sync_contribution_pool/sync_contribution_pool_test.go
  cmd/caplin/caplin1/run.go
  cmd/sentinel/main.go
Labels: caplin

#10032 polygon/sync: message listener to preserve peer events ordering
  polygon/p2p/message_listener.go
Labels: polygon

#10018 check attestation signature
  cl/beacon/synced_data/interface.go
  cl/beacon/synced_data/mock_services/synced_data_mock.go
  cl/beacon/synced_data/synced_data.go
  cl/phase1/core/state/interface.go
  cl/phase1/core/state/mock_services/beacon_state_reader.go
  cl/phase1/network/services/attestation_service.go
  cl/phase1/network/services/attestation_service_test.go
  cl/phase1/network/subnets/subnets.go
Labels: caplin

#10027 Fix forward bor snaps
  eth/stagedsync/stage_bor_heimdall.go
Labels: polygon

#10019 stagedSync: Optimize prune old chunks
  eth/stagedsync/stage_log_index.go
Labels: release

#10002 Build Silkworm RpcDaemon settings from Erigon ones
  cmd/utils/flags.go
  eth/backend.go
  eth/ethconfig/config.go
  go.mod
  go.sum
  turbo/cli/default_flags.go
  turbo/logging/logging.go
  turbo/silkworm/silkworm.go
Labels: silkworm

#10020 Optimized attestation processing
  cl/beacon/handler/pool.go
  cl/beacon/handler/utils_test.go
  cl/phase1/forkchoice/on_attestation.go
  cl/phase1/forkchoice/on_attester_slashing.go
  cl/phase1/network/services/block_service.go
  cl/phase1/network/services/voluntary_exit_service.go
  cl/pool/operations_pool.go
  cl/spectest/Makefile
  cl/spectest/consensus_tests/fork_choice.go
Labels: caplin

#10052 drop go 1.20 support
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test-integration-caplin.yml
  .github/workflows/test-integration.yml
  README.md
  erigon-lib/.github/workflows/ci.yml
  erigon-lib/go.mod
  erigon-lib/go.sum
  erigon-lib/tools/licenses_check.sh
  go.mod
  go.sum
  wmake.ps1
Labels: release-blocker

#10041 Caplin: fixed attestation broadcasting
  cl/beacon/handler/pool.go
  cl/cltypes/solid/attestation.go
  cl/phase1/network/services/attestation_service.go
Labels: caplin

#9204 feat: add `fullTx` params to `NewPendingTransactions`
  turbo/jsonrpc/eth_filters.go
Labels: feature

#10006 backward compatibility of .lock
  erigon-lib/common/dir/rw_dir.go
  erigon-lib/direct/downloader_client.go
  erigon-lib/direct/sentry_client_mock.go
  erigon-lib/downloader/downloader_grpc_server.go
  erigon-lib/downloader/torrent_files.go
  erigon-lib/downloader/torrent_files_test.go
  erigon-lib/go.mod
  erigon-lib/go.sum
  erigon-lib/gointerfaces/downloader/downloader.pb.go
  erigon-lib/gointerfaces/downloader/downloader_grpc.pb.go
  eth/backend.go
  turbo/snapshotsync/snapshotsync.go
Labels: release-blocker, priority:high

#9810 Make logs subscription channel size configurable
  cmd/rpcdaemon/cli/config.go
  cmd/rpcdaemon/cli/httpcfg/http_cfg.go
  cmd/utils/flags.go
  turbo/cli/flags.go
  turbo/engineapi/engine_server.go
  turbo/jsonrpc/corner_cases_support_test.go
  turbo/jsonrpc/daemon.go
  turbo/jsonrpc/debug_api_test.go
  turbo/jsonrpc/erigon_receipts_test.go
  turbo/jsonrpc/eth_api.go
  turbo/jsonrpc/eth_api_test.go
  turbo/jsonrpc/eth_block_test.go
  turbo/jsonrpc/eth_callMany_test.go
  turbo/jsonrpc/eth_call_test.go
  turbo/jsonrpc/eth_filters.go
  turbo/jsonrpc/eth_filters_test.go
  turbo/jsonrpc/eth_mining_test.go
  turbo/jsonrpc/eth_system_test.go
  turbo/jsonrpc/send_transaction_test.go
Labels: priority:high

#10079 AggregateAndProof put aggregated data into attestationsPool
  cl/aggregation/pool.go
  cl/aggregation/pool_impl.go
  cl/aggregation/pool_test.go
  cl/phase1/network/services/aggregate_and_proof_service.go
  cl/phase1/network/services/aggregate_and_proof_service_test.go
  cmd/caplin/caplin1/run.go
Labels: caplin

#9976 polygon/p2p: Add blk/s and bytes/s to periodic log
  polygon/p2p/fetcher_base.go
  polygon/p2p/fetcher_base_test.go
  polygon/p2p/fetcher_penalizing.go
  polygon/p2p/fetcher_penalizing_test.go
  polygon/p2p/fetcher_tracking.go
  polygon/p2p/fetcher_tracking_test.go
  polygon/p2p/service_mock.go
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/sync.go
Labels: polygon

#10051 Fetch and skip sync events
  cmd/devnet/services/polygon/heimdall.go
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stagedsynctest/harness.go
  polygon/bor/bor_test.go
  polygon/heimdall/client.go
  polygon/heimdall/client_mock.go
  polygon/heimdall/event_record.go
Labels: polygon

#10082 EIP-2537 (BLS12-381): use gnark instead of kilic
  core/vm/contracts.go
  core/vm/contracts_test.go
  core/vm/testdata/precompiles/fail-blsG1Add.json
  core/vm/testdata/precompiles/fail-blsG1Mul.json
  core/vm/testdata/precompiles/fail-blsG1MultiExp.json
  core/vm/testdata/precompiles/fail-blsG2Add.json
  core/vm/testdata/precompiles/fail-blsG2Mul.json
  core/vm/testdata/precompiles/fail-blsG2MultiExp.json
  core/vm/testdata/precompiles/fail-blsMapG1.json
  core/vm/testdata/precompiles/fail-blsMapG2.json
  core/vm/testdata/precompiles/fail-blsPairing.json
  crypto/bls12381/arithmetic_decl.go
  crypto/bls12381/arithmetic_fallback.go
  crypto/bls12381/arithmetic_x86.s
  crypto/bls12381/arithmetic_x86_adx.go
  crypto/bls12381/arithmetic_x86_noadx.go
  crypto/bls12381/bls12_381.go
  crypto/bls12381/bls12_381_test.go
  crypto/bls12381/field_element.go
  crypto/bls12381/field_element_test.go
  crypto/bls12381/fp.go
  crypto/bls12381/fp12.go
  crypto/bls12381/fp2.go
  crypto/bls12381/fp6.go
  crypto/bls12381/fp_test.go
  crypto/bls12381/g1.go
  crypto/bls12381/g1_test.go
  crypto/bls12381/g2.go
  crypto/bls12381/g2_test.go
  crypto/bls12381/gt.go
  crypto/bls12381/isogeny.go
  crypto/bls12381/pairing.go
  crypto/bls12381/pairing_test.go
  crypto/bls12381/swu.go
  crypto/bls12381/utils.go
  tests/fuzzers/bls12381/bls12381_fuzz.go
  tests/fuzzers/bls12381/testdata/fuzz_g1_add_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g1_mul_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g1_multiexp_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g2_add_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g2_mul_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_g2_multiexp_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_map_g1_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_map_g2_seed_corpus.zip
  tests/fuzzers/bls12381/testdata/fuzz_pairing_seed_corpus.zip
Labels: pectra

#10120 polygon/sync: fix executionClientStorage.Flush hanging in err cases
  polygon/sync/storage.go
Labels: polygon

#10123 polygon/sync: use a direct execution API client
  eth/backend.go
  polygon/sync/execution_client.go
  polygon/sync/service.go
Labels: polygon

#10116 e35: recalc all visibleFiles under 1 mutex (now many atomics)
  erigon-lib/config3/config3.go
  erigon-lib/state/aggregator.go
  erigon-lib/state/domain.go
  erigon-lib/state/domain_test.go
  erigon-lib/state/gc_test.go
  erigon-lib/state/history.go
  erigon-lib/state/history_test.go
  erigon-lib/state/inverted_index.go
  erigon-lib/state/inverted_index_test.go
  erigon-lib/state/merge.go
Labels: erigon3

#10083 dvovk/enable_dignostic
  cmd/devnet/devnet/node.go
  cmd/erigon/main.go
  cmd/utils/flags.go
  diagnostics/block_body_download_stats.go
  diagnostics/bodies_info.go
  diagnostics/bootnodes.go
  diagnostics/cmd_line.go
  diagnostics/db.go
  diagnostics/flags.go
  diagnostics/header_downloader_stats.go
  diagnostics/headers.go
  diagnostics/logs.go
  diagnostics/mem.go
  diagnostics/nodeinfo.go
  diagnostics/peers.go
  diagnostics/setup.go
  diagnostics/snapshot_sync.go
  diagnostics/version.go
  erigon-lib/common/metrics/metrics_enabled.go
  erigon-lib/go.sum
  turbo/app/snapshots_cmd.go
  turbo/app/support_cmd.go
  turbo/debug/flags.go
Labels: do-not-merge

#10128 polygon/heimdall: refactor heimdall with store option
  polygon/heimdall/heimdall.go
  polygon/heimdall/heimdall_mock.go
  polygon/heimdall/heimdall_no_store.go
  polygon/heimdall/heimdall_no_store_mock.go
  polygon/heimdall/heimdall_test.go
  polygon/heimdall/store.go
  polygon/heimdall/store_mock.go
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/service.go
  polygon/sync/tip_events.go
Labels: polygon

#10129 polygon/sync: rename storage to store for consistency with heimdall package
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/service.go
  polygon/sync/storage_mock.go
  polygon/sync/store.go
  polygon/sync/store_mock.go
  polygon/sync/sync.go
Labels: polygon

#10085 Caplin: process new attesting indicies before block comes in to avoid occasiona Reorg
  cl/phase1/forkchoice/interface.go
  cl/phase1/forkchoice/mock_services/forkchoice_mock.go
  cl/phase1/forkchoice/on_attestation.go
  cl/phase1/network/services/aggregate_and_proof_service.go
  cl/sentinel/service/start.go
Labels: caplin

#10134 fix flags parsing
  cmd/utils/flags.go
Labels: priority:critical

#10137 e35: align deps of e35 and devel
  accounts/abi/bind/bind_test.go
  erigon-lib/go.mod
  erigon-lib/go.sum
  go.mod
  go.sum
Labels: erigon3
