Repository erigontech/erigon, pull requests merged in 2024-08, with the labels that each got.

#11398 polygon/sync: Enable execution
  cmd/integration/commands/stages.go
  eth/backend.go
  eth/ethconsensusconfig/config.go
  eth/stagedsync/stagedsynctest/harness.go
  polygon/bor/bor.go
  polygon/bor/bor_test.go
  polygon/heimdall/service.go
  polygon/sync/execution_client.go
  polygon/sync/service.go
Labels: polygon

#11435 polygon: Fix interface arguments
  eth/stagedsync/stage_polygon_sync.go
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/service.go
  polygon/heimdall/entity_store.go
  polygon/heimdall/scraper.go
  polygon/heimdall/service.go
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/heimdall_waypoints_fetcher.go
  polygon/sync/heimdall_waypoints_fetcher_mock.go
  polygon/sync/service.go
Labels: polygon

#11408 Caplin: Refactored Finite state machine implementation
  cl/phase1/network/beacon_downloader.go
  cl/phase1/stages/chain_tip_sync.go
  cl/phase1/stages/cleanup_and_pruning.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/forkchoice.go
  cl/phase1/stages/forward_sync.go
Labels: caplin

#11466 chain_config: Fix json name for deposit contract address
  erigon-lib/chain/chain_config.go
Labels: pectra

#11467 engineapi: Only update req root for pectra+
  turbo/engineapi/engine_server.go
Labels: pectra

#11451 polygon/bridge: Use `atomic`
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/db.go
Labels: polygon

#11446 Caplin: Added sync from scratch and resuming node without checkpoint sync
  cl/clparams/config.go
  cl/cltypes/solid/uint64slice_byte.go
  cl/phase1/core/checkpoint.go
  cl/phase1/core/checkpoint_sync/checkpoint_sync_test.go
  cl/phase1/core/checkpoint_sync/interface.go
  cl/phase1/core/checkpoint_sync/local_checkpoint_syncer.go
  cl/phase1/core/checkpoint_sync/remote_checkpoint_sync.go
  cl/phase1/core/checkpoint_sync/util.go
  cl/phase1/core/rawdb/config.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/forkchoice.go
  cl/phase1/stages/forward_sync.go
  cmd/capcli/cli.go
  cmd/caplin/caplin1/run.go
  cmd/caplin/main.go
  cmd/sentinel/main.go
  cmd/utils/flags.go
  erigon-lib/common/datadir/dirs.go
  eth/backend.go
  turbo/cli/default_flags.go
Labels: caplin

#11498 polygon/bridge: Return nil, nil when map is not found
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
Labels: polygon

#11500 engineapi: Remove redundant nil check
  turbo/engineapi/engine_server.go
Labels: pectra

#11499 polygon/sync: fix block too soon error
  eth/stagedsync/stage_polygon_sync.go
  polygon/heimdall/service.go
  polygon/sync/block_producers_reader.go
  polygon/sync/canonical_chain_builder.go
  polygon/sync/canonical_chain_builder_factory.go
  polygon/sync/canonical_chain_builder_mock.go
  polygon/sync/canonical_chain_builder_test.go
  polygon/sync/difficulty.go
  polygon/sync/difficulty_test.go
  polygon/sync/header_time_validator.go
  polygon/sync/header_validator.go
  polygon/sync/service.go
  polygon/sync/spans_cache.go
  polygon/sync/sync.go
  polygon/sync/tip_events.go
Labels: polygon

#11484 polygon/bridge: Integrate bridge with RPC
  cmd/rpcdaemon/main.go
  eth/backend.go
  eth/gasprice/feehistory_test.go
  eth/gasprice/gasprice_test.go
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/db.go
  polygon/bridge/service.go
  turbo/engineapi/engine_server.go
  turbo/jsonrpc/daemon.go
  turbo/jsonrpc/debug_api_test.go
  turbo/jsonrpc/eth_api.go
  turbo/jsonrpc/eth_api_test.go
  turbo/jsonrpc/eth_block.go
  turbo/jsonrpc/eth_block_test.go
  turbo/jsonrpc/eth_callMany_test.go
  turbo/jsonrpc/eth_call_test.go
  turbo/jsonrpc/eth_filters_test.go
  turbo/jsonrpc/eth_mining_test.go
  turbo/jsonrpc/eth_receipts.go
  turbo/jsonrpc/eth_txs.go
  turbo/jsonrpc/gen_traces_test.go
  turbo/jsonrpc/otterscan_transaction_by_sender_and_nonce_test.go
  turbo/jsonrpc/parity_api_test.go
  turbo/jsonrpc/send_transaction_test.go
  turbo/jsonrpc/trace_adhoc.go
  turbo/jsonrpc/trace_filtering.go
  turbo/jsonrpc/tracing.go
  turbo/jsonrpc/txpool_api_test.go
Labels: polygon

#11483 properly support event stream
  cl/beacon/beaconevents/emitter.go
  cl/beacon/beaconevents/emitter_test.go
  cl/beacon/beaconevents/event_notifier.go
  cl/beacon/beaconevents/model.go
  cl/beacon/beaconevents/operation_feed.go
  cl/beacon/beaconevents/state_feed.go
  cl/beacon/handler/events.go
  cl/beacon/handler/handler.go
  cl/phase1/forkchoice/fork_choice_test.go
  cl/phase1/forkchoice/forkchoice.go
  cl/phase1/forkchoice/on_attester_slashing.go
  cl/phase1/forkchoice/utils.go
  cl/phase1/network/gossip_manager.go
  cl/phase1/network/services/attestation_service.go
  cl/phase1/network/services/attestation_service_test.go
  cl/phase1/network/services/blob_sidecar_service.go
  cl/phase1/network/services/blob_sidecar_service_test.go
  cl/phase1/network/services/block_service.go
  cl/phase1/network/services/bls_to_execution_change_service.go
  cl/phase1/network/services/bls_to_execution_change_service_test.go
  cl/phase1/network/services/proposer_slashing_service.go
  cl/phase1/network/services/proposer_slashing_service_test.go
  cl/phase1/network/services/sync_contribution_service.go
  cl/phase1/network/services/sync_contribution_service_test.go
  cl/phase1/network/services/voluntary_exit_service.go
  cl/phase1/network/services/voluntary_exit_service_test.go
  cl/phase1/stages/chain_tip_sync.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/forkchoice.go
  cl/spectest/consensus_tests/fork_choice.go
  cmd/caplin/caplin1/run.go
  go.mod
  go.sum
Labels: caplin

#11504 astrid: optimise and tidy up synchronisation points
  eth/stagedsync/stage_polygon_sync.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/service.go
  polygon/heimdall/scraper.go
  polygon/heimdall/service.go
  polygon/heimdall/span_block_producers_tracker.go
  polygon/polygoncommon/event_notifier.go
  polygon/sync/block_downloader.go
  polygon/sync/block_downloader_test.go
  polygon/sync/heimdall_waypoints_fetcher_mock.go
  polygon/sync/service.go
  polygon/sync/store.go
  polygon/sync/store_mock.go
  polygon/sync/sync.go
  polygon/sync/waypoint_reader.go
  polygon/sync/waypoint_reader_mock.go
Labels: polygon

#11517 Commitment code cleanup
  erigon-lib/commitment/commitment.go
  erigon-lib/commitment/commitment_bench_test.go
  erigon-lib/commitment/commitment_test.go
  erigon-lib/commitment/hex_patricia_hashed.go
  erigon-lib/commitment/hex_patricia_hashed_bench_test.go
  erigon-lib/commitment/hex_patricia_hashed_fuzz_test.go
  erigon-lib/commitment/hex_patricia_hashed_test.go
  erigon-lib/commitment/patricia_state_mock_test.go
  erigon-lib/state/domain_shared.go
Labels: priority:medium, erigon3, complexity:medium

#11534 polygon/heimdall: silence service tests logging
  polygon/heimdall/service_test.go
Labels: polygon

#11535 astrid: make sync stage tx action channel bufferred
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon

#11531 polygon: add unwind prune to sync stage
  eth/stagedsync/default_stages.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_polygon_sync.go
  eth/stagedsync/stagebuilder.go
Labels: polygon

#11549 stagedsync: add dbg.SaveHeapProfileNearOOM to headers stage
  erigon-lib/common/dbg/experiments.go
  eth/stagedsync/stage_headers.go
  turbo/stages/headerdownload/header_algos.go
Labels: polygon

#11491 engineapi: Send status SYNCING for fcu when busy
  turbo/engineapi/engine_server.go
Labels: pectra

#11527 more cl state events
  cl/beacon/beaconevents/model.go
  cl/beacon/beaconevents/state_feed.go
  cl/beacon/handler/block_production.go
  cl/beacon/handler/events.go
  cl/monitor/interface.go
  cl/monitor/mock_services/validator_monitor_mock.go
  cl/monitor/validator.go
  cl/phase1/forkchoice/fork_choice_test.go
  cl/phase1/forkchoice/fork_graph/fork_graph_disk.go
  cl/phase1/forkchoice/fork_graph/fork_graph_test.go
  cl/phase1/forkchoice/forkchoice.go
  cl/phase1/forkchoice/on_block.go
  cl/phase1/network/services/block_service.go
  cl/phase1/network/services/block_service_test.go
  cl/phase1/stages/chain_tip_sync.go
  cl/phase1/stages/forkchoice.go
  cl/spectest/consensus_tests/fork_choice.go
  cmd/caplin/caplin1/run.go
Labels: caplin

#11551 stagedsync: add dbg.SaveHeapProfileNearOOM to headers stage (#11549)
  erigon-lib/common/dbg/experiments.go
  eth/stagedsync/stage_headers.go
  turbo/stages/headerdownload/header_algos.go
Labels: polygon

#11564 Caplin: Fixed flag usage
  cmd/utils/flags.go
Labels: caplin

#11558 Caplin: Make sure frozenBlocks >= frozenBlobs
  cl/antiquary/antiquary.go
  cl/phase1/stages/stage_history_download.go
Labels: caplin

#11568 polygon/sync: Fix `onMilestoneEvent` crash
  polygon/bor/bor.go
  polygon/sync/sync.go
Labels: polygon

#11579 polygon/sync: Use store at tip
  polygon/sync/sync.go
Labels: polygon

#11565 polygon/bridge: Support read-only operations
  polygon/bridge/reader.go
  polygon/bridge/service.go
Labels: polygon

#11606 astrid: integrate bridge in polygon_sync_stage mode
  eth/backend.go
  eth/stagedsync/stage_polygon_sync.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/db.go
Labels: polygon

#11611 polygon/bor: remove unused params in NewRo
  cmd/devnet/services/polygon/proofgenerator_test.go
  cmd/rpcdaemon/cli/config.go
  polygon/bor/bor.go
Labels: polygon

#11616 Delete AuRa GenerateSeal
  cmd/rpcdaemon/cli/config.go
  consensus/aura/aura.go
  consensus/clique/clique.go
  consensus/consensus.go
  consensus/mainnet/mainnet.go
  consensus/merge/merge.go
  core/chain_makers.go
  polygon/bor/bor.go
Labels: gnosis

#11608 fix panic issue in initializeStateAntiquaryIfNeeded
  cl/antiquary/state_antiquary.go
  cl/persistence/state/historical_states_reader/historical_states_reader.go
Labels: caplin

#11618 polygon/bor: simplify state receiver contract code
  eth/ethconsensusconfig/config.go
  eth/stagedsync/stage_bor_heimdall_test.go
  eth/stagedsync/stagedsynctest/harness.go
  polygon/bor/bor.go
  polygon/bor/bor_test.go
  polygon/bor/genesis_contracts.go
  polygon/bor/spanner.go
  polygon/bor/spanner_mock.go
  polygon/bor/state_receiver.go
  polygon/bor/state_receiver_mock.go
Labels: polygon

#11619 polygon/bor: add borabi pkg
  eth/backend.go
  eth/ethconsensusconfig/config.go
  eth/stagedsync/stage_bor_heimdall.go
  polygon/bor/bor.go
  polygon/bor/bor_test.go
  polygon/bor/borabi/abi.go
  polygon/bridge/bridge_test.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/stages/stageloop.go
Labels: polygon

#11620 polygon/heimdall: introduce event.Marshall/Unmarshall funcs to hide abi
  eth/backend.go
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_mining_bor_heimdall.go
  eth/stagedsync/stage_polygon_sync.go
  polygon/bor/bor.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/db.go
  polygon/heimdall/event_record.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/stages/stageloop.go
Labels: polygon

#11629 stagedsync: fix astrid sync stage panic due to unintentionally committed tx
  polygon/bridge/db.go
Labels: polygon

#11630 polygon/sync: naming follow up
  polygon/sync/sync.go
Labels: polygon

#11508 Add custom chain support to Caplin
  cl/beacon/handler/config.go
  cl/clparams/config.go
  cl/cltypes/eth1_block.go
  cl/persistence/block_store.go
  cl/persistence/format/snapshot_format/blocks.go
  cl/persistence/format/snapshot_format/getters/execution_snapshot.go
  cl/persistence/format/snapshot_format/test_util.go
  cl/persistence/genesisdb/genesis_db.go
  cl/persistence/genesisdb/interface.go
  cl/persistence/interface.go
  cl/phase1/core/checkpoint_sync/local_checkpoint_syncer.go
  cl/phase1/core/checkpoint_sync/remote_checkpoint_sync.go
  cl/phase1/core/checkpoint_sync/util.go
  cl/phase1/execution_client/block_collector/block_collector.go
  cl/phase1/network/beacon_downloader.go
  cl/phase1/stages/clstages.go
  cl/sentinel/gossip.go
  cl/sentinel/service/start.go
  cl/utils/bytes.go
  cl/utils/eth_clock/ethereum_clock.go
  cmd/capcli/cli.go
  cmd/caplin/caplin1/run.go
  cmd/caplin/caplincli/config.go
  cmd/caplin/caplinflags/flags.go
  cmd/caplin/main.go
  cmd/sentinel/main.go
  cmd/sentinel/sentinelcli/cliSettings.go
  cmd/sentinel/sentinelflags/flags.go
  cmd/utils/flags.go
  core/genesis_write.go
  core/rawdb/accessors_metadata.go
  erigon-lib/common/datadir/dirs.go
  eth/backend.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  eth/stagedsync/exec3.go
  turbo/cli/default_flags.go
Labels: caplin

#9436 Borevent snapshot validation
  .gitignore
  eth/integrity/integrity_action_type.go
  eth/integrity/no_gaps_bor_events.go
  eth/integrity/no_gaps_in_canonical_headers.go
  eth/integrity/snap_blocks_read.go
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_mining_bor_heimdall.go
  polygon/bor/bor.go
  polygon/bor/snaptype/types.go
  polygon/heimdall/event_fetch_test.go
  polygon/heimdall/event_record.go
  turbo/app/snapshots_cmd.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/snapshotsync/freezeblocks/bor_snapshots.go
Labels: polygon, priority:high

#11655 Add blob fee to prestate tracer (#11650)
  core/state_transition.go
  core/vm/evmtypes/evmtypes.go
  eth/tracers/native/prestate.go
Labels: dencun

#11663 Caplin: Optimized forward sync (4x faster)
  cl/phase1/stages/clstages.go
  cl/phase1/stages/forward_sync.go
Labels: caplin

#11665 Caplin: Fixed nil panic in antiquary initizialization and indexing
  cl/antiquary/antiquary.go
  cl/phase1/forkchoice/utils.go
  cmd/caplin/caplin1/run.go
  turbo/snapshotsync/freezeblocks/caplin_snapshots.go
Labels: caplin

#11703 Flip `BorEventNums` to use last state sync event ID
  erigon-lib/kv/helpers.go
  erigon-lib/kv/tables.go
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall_test.go
  eth/stagedsync/stage_mining_bor_heimdall_test.go
  eth/stagedsync/stage_polygon_sync.go
  eth/stagedsync/stagedsynctest/harness.go
  polygon/bor/bordb/prune.go
  polygon/bor/snaptype/types.go
  turbo/snapshotsync/freezeblocks/block_reader.go
  turbo/snapshotsync/freezeblocks/bor_snapshots.go
Labels: polygon

#11721 polygon/bridge: Remove reader duplication
  eth/stagedsync/stage_polygon_sync.go
  polygon/bridge/bridge.go
  polygon/bridge/db.go
  polygon/bridge/reader.go
Labels: polygon

#11728 polygon/heimdall: skip manual TestOver50EventBlockFetch
  polygon/heimdall/event_fetch_test.go
Labels: polygon

#11726 Don't validate skipped events
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_mining_bor_heimdall.go
Labels: polygon

#11646 polygon/bridge: fix bridge integration in stage mode
  cmd/rpcdaemon/rpcservices/eth_backend.go
  erigon-lib/kv/tables.go
  eth/stagedsync/stage_polygon_sync.go
  polygon/bor/bordb/prune.go
  polygon/bridge/bridge.go
  polygon/bridge/bridge_test.go
  polygon/bridge/db.go
  polygon/bridge/processed_block_info.go
  polygon/bridge/reader.go
  polygon/bridge/service.go
  polygon/heimdall/client.go
  polygon/heimdall/span_block_producers_tracker.go
  polygon/sync/execution_client.go
  polygon/sync/store.go
  turbo/services/interfaces.go
  turbo/snapshotsync/freezeblocks/block_reader.go
Labels: polygon

#11554 Caplin: faster reorgs with storing temporary Merkle Trees on disk
  cl/cltypes/solid/hash_list.go
  cl/cltypes/solid/hash_vector.go
  cl/cltypes/solid/uint64_list.go
  cl/cltypes/solid/uint64_vector.go
  cl/cltypes/solid/uint64slice_byte.go
  cl/cltypes/solid/validator_set.go
  cl/merkle_tree/merkle_tree.go
  cl/merkle_tree/merkle_tree_test.go
  cl/phase1/core/state/cache.go
Labels: caplin

#11736 Fixed `adding` torrent within Caplin's antiquary
  cl/antiquary/antiquary.go
  turbo/snapshotsync/freezeblocks/caplin_snapshots.go
Labels: caplin

#11739 Fix duplicate borevent snapshot entries
  polygon/bor/snaptype/types.go
Labels: polygon

#11749 Add migration for BorEventNums change
  migrations/clear_bor_tables.go
  migrations/migrations.go
Labels: polygon

#11753 polygon: fix astrid stage integration deadlock on tip unwind
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon

#11732 polygon: tidy IsSprintStart/End helper funcs
  eth/stagedsync/bor_heimdall_shared.go
  eth/stagedsync/stage_bor_heimdall.go
  eth/stagedsync/stage_txlookup.go
  polygon/bor/bor.go
  polygon/bor/borcfg/bor_config.go
  polygon/bor/snapshot.go
  polygon/bridge/bridge.go
  turbo/jsonrpc/bor_snapshot.go
Labels: polygon

#11680 memory exhaustion due to connections with numerous validators & unwind issue
  cl/beacon/handler/pool.go
  cl/phase1/network/services/aggregate_and_proof_service.go
  cl/phase1/network/services/attestation_service.go
  cl/phase1/network/services/block_service.go
  cl/validator/attestation_producer/attestation_producer.go
  cl/validator/attestation_producer/attestation_producer_test.go
  cmd/caplin/caplin1/run.go
Labels: caplin

#11723 Caplin: Decrease block commit timings (350k to 35k)
  cl/antiquary/state_antiquary.go
Labels: caplin

#11733 Caplin: Fixed `History Download` CPU usage
  cl/phase1/network/backward_beacon_downloader.go
  cl/phase1/stages/clstages.go
  cl/phase1/stages/stage_history_download.go
  cmd/capcli/cli.go
Labels: caplin

#11729 Caplin: Fixed caplin parent root indexing
  cl/beacon/handler/headers.go
  cl/persistence/beacon_indicies/indicies.go
  erigon-lib/kv/tables.go
Labels: caplin

#11783 polygon: astrid sync stage fix deadlock on cancelled context
  eth/stagedsync/stage_polygon_sync.go
Labels: polygon

#11780 el-consensus: Add 2935 condition to fail silently if no code in HistoryStorageAddress
  consensus/misc/eip2935.go
Labels: pectra

#11785 polygon/p2p: peer tracker to replay current state of connected peers on start
  eth/stagedsync/stage_polygon_sync.go
  polygon/p2p/fetcher_base_test.go
  polygon/p2p/fetcher_tracking_test.go
  polygon/p2p/message_listener.go
  polygon/p2p/message_listener_test.go
  polygon/p2p/peer_event_registrar.go
  polygon/p2p/peer_event_registrar_mock.go
  polygon/p2p/peer_id.go
  polygon/p2p/peer_provider.go
  polygon/p2p/peer_provider_mock.go
  polygon/p2p/peer_tracker.go
  polygon/p2p/peer_tracker_option.go
  polygon/p2p/peer_tracker_test.go
  polygon/p2p/service.go
  polygon/p2p/service_mock.go
  polygon/sync/service.go
Labels: polygon

#11792 [Polygon] Bor: PIP-30: increased max code size limit to 32KB
  core/vm/evm.go
  erigon-lib/chain/chain_config.go
  params/protocol_params.go
  polygon/bor/borcfg/bor_config.go
Labels: polygon

#11811 [Polygon] Bor: PIP-30: increased max code size limit to 32KB [For Erigon-2]
  core/vm/evm.go
  erigon-lib/chain/chain_config.go
  params/protocol_params.go
  polygon/bor/borcfg/bor_config.go
Labels: polygon

#11812 polygon/heimdall: fix errors.Is typo for ErrNotInMilestoneList
  polygon/heimdall/service.go
Labels: polygon
